<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@@ViewData["Title"] - Fairy_project</title>-->
<!--<!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
<!--</head>
<body>
    <header class="header">
        <nav>
            <div class="navbar">
                <h2 class="navbar_title"><a asp-area="" asp-controller="Home" asp-action="index" class="navbar_link_a">合展屋</a></h2>
                <label for="humbuger" class="_humbuger"></label>-->
@*<ul class="navbar_link">
        <li class="navbar_li"><a class="navbar_link_a" asp-area="" asp-controller="Home" asp-action="#">購物車</a></li>
        <li class="navbar_li"><a class="navbar_link_a" asp-area="" asp-controller="Home" asp-action="exhibitionDetail">會員頁面</a></li>
        <li class="navbar_li"><a class="nav-link text-dark navbar_link_a" asp-area="" asp-controller="Member" asp-action="MyTicket">票券頁面</a></li>
        <li class="navbar_li"><a class="navbar_link_a" asp-area="" asp-controller="Login" asp-action="Index">登入</a></li>
    </ul>
    <ul class="navbar_icon">
        <li class="navbar_li"><a href="＃"><i class="fa-solid fa-cart-shopping navbar_icon_item"></i></a></li>
        <li class="navbar_li"><a href="＃" class="navbar_link_a"><i class="fa-solid fa-user-astronaut navbar_icon_item"></i></a></li>
        <li class="navbar_li"><a class="text-dark navbar_link_a" asp-area="" asp-controller="Member" asp-action="MyTicket"><i class="fa-solid fa-ticket-simple navbar_icon_item"></i></a></li>
        <li class="navbar_li"><a href="＃"><i class="fa-solid fa-dungeon navbar_icon_item navbar_link_a"></i></a></li>
    </ul>*@
<!--</div>
<input type="checkbox" id="humbuger" class="nav-toggle">
<div class="nav_section">
    <partial name="_phoneNavPartial" />-->
@*<ul class="nav_items">
        <li class="navbar_li"><a class="text-dark navbar_link_a" asp-area="" asp-controller="Member" asp-action="MyTicket">票券頁</a></li>
        <li class="navbar_li"><a href="" class="navbar_link_a">購物車</a></li>
        <li class="navbar_li"><a href="" class="navbar_link_a">登出</a></li>
    </ul>*@
<!--</div>
        </nav>
    </header>
    <main role="main">

    </main>

    <div class="border-0 rounded-0 text-center bg3">
        <div class="py-3 border-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                Someone famous in
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/axios/axios.min.js"></script>-->
<!--@@await Html.PartialAsync("_ToastIndexPartial")
<script>
    if (sessionStorage.getItem('acount') != null) {
        $('.navbar').append(`<ul class="navbar_link">
                <li class="navbar_li"><a href="#" class="navbar_link_a">@@User.Identity.Name.Split("@@")[0] 你好</a></li>
                <li class="navbar_li"><a class="navbar_link_a" href="@@Url.Action("shoppingcart", "Home")">購物車</a></li>
                <li class="navbar_li"><a class="navbar_link_a" href="@@Url.Action("index", "Member")">票券頁面</a></li>
                <li class="navbar_li"><a href="@@Url.Action("Logout", "Login")" class="navbar_link_a">登出</a></li>
            </ul>
            <ul class="navbar_icon">
                <li class="navbar_li"><a href="@@Url.Action("shoppingcart", "Home")"><i class="fa-solid fa-cart-shopping navbar_icon_item"></i></a></li>
                <li class="navbar_li"><a href="＃" class="navbar_link_a"><i class="fa-solid fa-user-astronaut navbar_icon_item"></i></a></li>
                <li class="navbar_li"><a class="navbar_link_a" href="@Url.Action("index", "Member")"><i class="fa-solid fa-ticket-simple navbar_icon_item"></i></a></li>
                <li class="navbar_li"><a href="@@Url.Action("Logout", "Login")"><i class="fa-solid fa-dungeon navbar_icon_item navbar_link_a"></i></a></li>
            </ul>`)
    }
    else {
        $('.navbar').append(`<ul class="navbar_link">
                <li class="navbar_li"><a class="navbar_link_a" href="@@Url.Action("index", "Login")">登入</a></li>
            </ul>
            <ul class="navbar_icon">
                <li class="navbar_li"><a href="@@Url.Action("index", "Login")"><i class="fa-solid fa-dungeon navbar_icon_item navbar_link_a"></i></a></li>
            </ul>`)
    }
</script>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>Template</title>
    <link rel="stylesheet" href="~/lib/plugins/bootstrap/bootstrap.min.css">
    <!-- Ionicons Fonts Css -->
    <link rel="stylesheet" href="~/lib/plugins/ionicons/ionicons.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/lib/plugins/animate-css/animate.css">
    <!-- Hero area slider css-->
    <link rel="stylesheet" href="~/lib/plugins/slider/slider.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/lib/plugins/slick/slick.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/lib/plugins/facncybox/jquery.fancybox.css">
    <!-- hover -->
    <link rel="stylesheet" href="~/lib/plugins/hover/hover-min.css">
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <!-- template CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <!-- Navbar -->
    <section class="top-bar animated-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="index.html">
                            <img class="logo-image" src="~/images/homeLogo.jpg" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("shoppingcart", "Home")">購物車</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("search", "Home")">搜尋</a>
                            </li>
                            @*<ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                            <a class="nav-link" href="index.html">
                            Home
                            <span class="sr-only">(current)</span>
                            </a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            會員頁面
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("index", "Member")">我的票券</a>
                            <a class="dropdown-item" href="gallery.html">會員資料</a>
                            </div>
                            </li>*@
                            @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Blog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="blog-fullwidth.html">Blog Full</a>
                            <a class="dropdown-item" href="blog-left-sidebar.html">Blog Left sidebar</a>
                            <a class="dropdown-item" href="blog-right-sidebar.html">Blog Right sidebar</a>
                            </div>
                            </li>*@
                            @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Login")" ">登入</a>
                            </li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <main role="main">
        @RenderBody()
    </main>
    @*------footer------*@
    <footer id="footer">
        <div class="container">
            <div class="row content-justify-between">
                <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                    <p class="copyright">
                        &copy 2022 Design and Developed by <a href="http://www.Themefisher.com"
                                                              target="_blank">合展屋展覽館</a>. <br>
                        開放時間：週二至週日，上午9:30至下午5:30 (週一、除夕休館)
                        <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">&reg;WooHouse</a>
                    </p>
                </div>
                <div class="col-md-4 col-12">
                    <!-- Social Media -->
                    <ul class="social text-center text-md-right text-lg-right">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @*------footer------*@
    <script src="~/lib/plugins/jQurey/jquery.min.js"></script>
    <!-- Form Validation -->
    <script src="~/lib/plugins/form-validation/jquery.form.js"></script>
    <script src="~/lib/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- slick slider -->
    <script src="~/lib/plugins/slick/slick.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/lib/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="~/lib/plugins/wow-js/wow.min.js"></script>
    <!-- slider js -->
    <script src="~/lib/plugins/slider/slider.js"></script>
    <!-- Fancybox -->
    <script src="~/lib/plugins/facncybox/jquery.fancybox.js"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/49896da301.js" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- template main js -->
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        if (sessionStorage.getItem('acount') != null) {
            $('#navbarSupportedContent').append(`
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("shoppingcart", "Home")">購物車</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                會員頁面
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("index", "Member")">我的票券</a>
                                <a class="dropdown-item" href="gallery.html">會員資料</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")" " id="out">登出</a>
                        </li>
                    </ul>
                    `)
        }
        else {
            $('#navbarSupportedContent').append(`
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Login")" ">登入</a>
                        </li>
                    </ul>
                                            `)
        }
        $('#out').click(function() {
            sessionStorage.clear();
        })
    </script>
</body>
</html>