

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>Template</title>
    @await RenderSectionAsync("Style", required: false)
    <!-- template CSS -->
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/userChatB4.css" asp-append-version="true" />
</head>
<body>
    <!-- Navbar -->
    <section class="top-bar animated-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img class="logo-image" src="~/images/homeLogo.jpg" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                @*<ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                    <a class="nav-link" href="index.html">
                                    Home
                                    <span class="sr-only">(current)</span>
                                    </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    會員頁面
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("index", "Member")">我的票券</a>
                                    <a class="dropdown-item" href="gallery.html">會員資料</a>
                                    </div>
                                    </li>*@
                                @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="blog-fullwidth.html">Blog Full</a>
                                    <a class="dropdown-item" href="blog-left-sidebar.html">Blog Left sidebar</a>
                                    <a class="dropdown-item" href="blog-right-sidebar.html">Blog Right sidebar</a>
                                    </div>
                                    </li>*@
                                @*<li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Logout", "Login")" ">登入</a>
                                    </li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    @*==chat==*@

    @*<div id="chat-circle" class="btn btn-raised btn-toggle scaleBox">
        <div id="chat-overlay">
        </div>
        <i class="fa-solid fa-comment-dots title-icon"></i>
    </div>*@
    <div class="card mx-auto card-toggle chat-box" id="chat-card" style="max-width: 400px;">
        <div class="card-header bg-transparent">
            <div class="navbar navbar-expand p-0">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item">
                        <a href="#" class="title-image">
                            <div class="position-relative chat-image">
                                <img src="~/images/homeLogo.jpg" alt="Logo" class="img-fluid rounded-circle mx-auto">
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <span>House會員服務台</span>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="">
                        <a href="#" class="nav-link" id="chat-exit-btn">
                            <i class="fas fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body p-4 chat-box-body" id="chat-content" style="height: 500px; overflow: auto;">

            <!-- 左對話區塊 -->
            <!--<div class="d-flex align-items-center mb-4">-->
                <!-- avatar -->
                <!--<div class="position-relative avatar">
                    <i class="fa-solid fa-user-astronaut people"></i>
                </div>-->
                <!-- 對話框 -->
                <!--<div class="pe-2">
                    <div>
                        <div class="card card-text d-inline-block p-2 m-1 left-card-text">你好，請問有什麼需要幫助的嗎？</div>
                        <div class="small">01:13PM</div>
                    </div>
                </div>
            </div>-->
            <!-- ＃左對話區塊 -->


            <!-- 右對話區塊 -->
            <!--<div class="d-flex align-items-center text-end justify-content-end mb-4">-->
                <!-- 對話框 -->
                <!--<div class="pe-2">
                    <div>
                        <div class="card card-text d-inline-block p-2 px-3 m-1 right-card-text ">想詢問如何進行退票？</div>
                    </div>
                </div>-->

                <!-- avatar -->
                <!--<div class="position-relative avatar">
                    <i class="fa-solid fa-user-secret people"></i>
                    <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </div>
            </div>-->
            <!-- ＃右對話區塊 -->

        </div>
        <div class="card-footer bg-white m-0 p-1 w-100 chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control border-0" id="input-msg" placeholder="Write a message...">
                <button class="btn btn-light text-secondary btn-send" id="send-msg" date-self="">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>

    @*==#chat==*@


    <!--  -->
    <main class="mt-3" role="main">
        @RenderBody()
    </main>
    @*------footer------*@
    <footer id="footer">
        <div class="container">
            <div class="row content-justify-between">
                <div class="col-md-8 col-6 text-center text-lg-left text-md-left">
                    <p class="copyright">
                        &copy 2022 Design and Developed by <a href="http://www.Themefisher.com" target="_blank">合展屋展覽館</a>. <br>
                        開放時間：週二至週日，上午9:30至下午5:30 (週一、除夕休館)
                        <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">&reg;WooHouse</a>
                    </p>
                </div>
                <div class="col-md-4 col-12">
                    <!-- Social Media -->
                    <ul class="social text-center text-md-right text-lg-right">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @*------footer------*@
    <script src="https://kit.fontawesome.com/49896da301.js" crossorigin="anonymous"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @*@await Html.PartialAsync("_ToastPartial")*@
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>

    <script>
        if (sessionStorage.getItem('acount') != null) {
            $('#navbarSupportedContent').append(`
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                                Home
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("shoppingcart", "Home")">購物車</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                會員頁面
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="@Url.Action("Index", "Member")">我的票券</a>
                                                <a class="dropdown-item" href="gallery.html">會員資料</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("search", "Home")" >搜尋</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index", "Home")" id="out">登出</a>
                                        </li>
                                    </ul>
                                    `)
            $('body').append(`<div id="chat-circle" class="btn btn-raised btn-toggle scaleBox">
            <div id="chat-overlay">
            </div>
            <i class="fa-solid fa-comment-dots title-icon"></i>
            </div>`)
        }
        else {
            $('#navbarSupportedContent').append(`
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Logout", "Login")" ">登入</a>

                                        </li>
                                    </ul>
                                                            `)
        }
        $('#out').click(function() {
            sessionStorage.clear();
        })
    </script>
            <script src="~/js/userChat.js" asp-append-version="true"></script>
</body>

</html>