<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- css template -->
    <link rel="stylesheet" href="~/css/templateB5.css" asp-append-version="true">
    @await RenderSectionAsync("Style", required: false)
    <link rel="stylesheet" href="~/css/userChatB5.css" asp-append-version="true" />
</head>

<body>
    <section class="top-bar animated-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <a href="@Url.Action("Index", "Home")">
                                <img class="logo-image" src="~/images/homeLogo.jpg" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="@Url.Action("shoppingcart", "Home")">購物車</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
                                            會員頁面
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("Index", "Member")">我的票卷</a>
                                            <a class="dropdown-item" href="#">會員資料</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("search", "Home")">搜尋</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")" id="out">登出</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    @*==chat==*@

    <div id="chat-circle" class="btn btn-raised btn-toggle scaleBox">
        <div id="chat-overlay">
        </div>
        <i class="fa-solid fa-comment-dots title-icon"></i>
    </div>
    <div class="card mx-auto card-toggle chat-box" id="chat-card" style="max-width: 400px;">
        <div class="card-header bg-transparent">
            <div class="navbar navbar-expand p-0">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item">
                        <a href="#" class="title-image">
                            <div class="position-relative chat-image">
                                <img src="~/images/homeLogo.jpg" alt="Logo" class="img-fluid rounded-circle mx-auto">
                                <span class="visually-hidden">New alerts</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <span>House會員服務台</span>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="">
                        <a href="#" class="nav-link" id="chat-exit-btn">
                            <i class="fas fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body p-4 chat-box-body" id="chat-content" style="height: 500px; overflow: auto;">

        </div>
        <div class="card-footer bg-white position-absolute bottom-0 m-0 p-1 w-100 chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control border-0" id="input-msg" placeholder="Write a message...">
                <button class="btn btn-light text-secondary btn-send" id="send-msg" date-self="">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>

    @*==#chat==*@

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row content-justify-between">
                <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                    <p class="copyright">
                        Copyright: Design and Developed by <a href="http://www.Themefisher.com"
                                                              target="_blank">Themefisher</a>. <br>
                        Get More Bootstrap Template From Our
                        <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Store</a>
                    </p>
                </div>
                <div class="col-md-4 col-12">
                    <!-- Social Media -->
                    <ul class="social text-center text-md-right text-lg-right">
                        <li>
                            <a href="http://wwww.fb.com/themefisher" class="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                                <i class="fa-brands fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> <!-- /#footer -->
    <script src="https://kit.fontawesome.com/49896da301.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.1/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/userChat.js" asp-append-version="true"></script>
    <script>document.getElementById('out').addEventListener('click', function () {
            sessionStorage.clear();
        })</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

