@*@model Fairy_project.Models.Exhibition;*@
@model Fairy_project.ViewModels.eDrtailViewModel;
@{
    ViewData["Title"] = "Privacy Policy";

}
@section Style
{
    <link rel="stylesheet" href="~/css/exhibitionDetil.css" asp-append-version="true" />
}
<section class="exhibition">
    <div class="exhibition_poster"><img src="" alt=""></div>
    @*ToDo:資料庫圖片有問題*@
    <div class="more">down</div>
    <div class="exhibition_info">
        <h3 class="exhibition_info_title">@Model.Exhibition.exhibitName</h3>
        <p class="exhibition_info_date">@String.Format($"{@Model.Exhibition.datefrom:yyyy/MM/dd}")</p>
        <hr>
        <p>@Model.Exhibition.ex_Description</p>
        @*ToDo:展覽描述*@
        <div class="exhibition_info_btn">
            <button class="btn btn_buy btn_cart" data-id="@Model.Exhibition.exhibitId">購票</button>
        </div>
    </div>
</section>
@*VM or Js*@
<div class="store-section">
    <h3 class="store_title">參展廠商</h3>
    <div class="card-content">
        <div class="cards">
            <div class="card store_cards_card border-0">
                <img src="https://images.unsplash.com/photo-1498804103079-a6351b050096?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    @*<p class="card-text">@Model.Manufactures</p>*@
                </div>
            </div>
            <div class="card store_cards_card border-0">
                <img src="https://images.unsplash.com/photo-1578763727915-a976fa77f8c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=938&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">奕翔展</p>
                </div>
            </div>
            <div class="card store_cards_card border-0">
                <img src="https://images.unsplash.com/photo-1531112868439-b6b658cfe48a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...>
                <div class=" card-body">
                    <p class="card-text">奕翔展</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*VM or Js*@
<section class="recommend">
    <div class="left_container">
    </div>
    <div class="right_container">
        <h4 class="recommend_title">推薦展覽</h4>
        <div class="recommendMore"></div>
    </div>
</section>
<script src="~/js/eDetail.js" asp-append-version="true"></script>
