@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Style
{
    <link rel="stylesheet" href="~/css/GroupB.css" asp-append-version="true" />

}




   
   

    <div class="container">

        <br />
        <div class="article-title h3" >找展覽</div>
        <br />

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img  class="w-100" src="@Url.Content("~/images/時間與時間意識.png")" asp-append-version="true" />
                    </div>

                   <div class="element-text">
                    <div class="h3 H3-TEXT" title="經驗中的時間與物理中的時間">經驗中的時間與物理中的時間</div>
                    <p>
                        演講 By <a href="https://opinion.udn.com/opinion/story/6685/6336816">LMPST Taiwan</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        日常經驗的視角與物理學的視角。在日常生活之中，我們似乎能感受到時間正在不斷流動，也能感受到時間由過去趨向未來的變化。然而，這些在日常生活中感受到的時間現象，是否真的符合當代物理學理論，特別是愛因斯坦的相對論？如果答案是否定的，那日常經驗與物理學便產生了互相衝突的時間觀念。這種潛在的衝突，不但是哲學家研究時間的一大難題，也將是本次論壇的主題。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 31 天</small>
                        </div>

                        <div class="ἰδέα γράφω">
                            ἰδέα γράφω
                        </div>
                    </div>
                  </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/天竺鼠車車迴力車玩偶.jpg")" href="https://www.moshimoshi-nippon.jp/zh-hant/599641" alt="">
                    </div>

                   <div class="element-text" >
                    <div class="h3 H3-TEXT" title="天竺鼠PUIPUI!">天竺鼠PUIPUI!</div>
                    <p>
                        動畫 By <a href="https://www.moshimoshi-nippon.jp/zh-hant/599641">moshi</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        2021年1月起在テレビ東京系『きんだーてれび』内播出的TV動畫「PUI PUI 天竺鼠車車」。以天竺鼠成為汽車的世界為舞台、療癒系＜PUI PUI 天竺鼠車車＞大肆活躍的嶄新世界觀讓大人小孩都沈醉其中。其迴響不局限於日本國內、在台灣也造成狂熱人氣、每週播出32回。美國NY時代雜誌也稱之為注目影像作品加以報導、在全世界都掀起了PUI PUI 天竺鼠車車旋風。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 88 天</small>
                        </div>

                        <div class="ζῴων">
                            ζῴων
                        </div>
                    </div>
                   </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap" >
                        <img class="w-100" src="@Url.Content("~/images/美麗之島－臺灣古地圖與生活風貌展.jpg")" alt="">
                    </div>

                    <div class="element-text" >
                        <div class="h3 H3-TEXT" title="美麗之島－臺灣古地圖與生活風貌展">美麗之島－臺灣古地圖與生活風貌展</div>
                        <p>
                            展覽 By <a href="https://event.culture.tw/NMH/portal/Registration/C0103MAction?actId=00162">國立歷史博物館</a>
                        </p>

                        <p class="flex-grow-1 p2">
                            「美麗之島─臺灣古地圖與生活風貌展」主要呈現各階段台灣老地圖中的歷史、生活與文化，以認識台灣風貌。茲分三項主題展示：「歷史臺灣」主題中，以台灣古地圖的發展過程與變遷為軸，將台灣的疆域、行政區域及地理環境的變化呈現島台灣在地圖發展的角色和地位。
                        </p>

                     <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 53 天</small>
                        </div>

                        <div class="βιβλίου">
                            βιβλίου
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/為己而來.jpg")" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3  H3-TEXT" title="為己而來——被史家耽誤的女人">為己而來——被史家耽誤的女人</div>
                    <p>
                        展覽 By <a href="http://museum.sinica.edu.tw/exhibitions/78/">歷史文物陳列館</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        關於本展
                        妲己！商王朝亡國之君紂王的王后。
                        談到她，大家腦海中不免浮現的是「牝雞司晨」、「紅顏禍水」甚至是「狐狸精」等負面形象。不僅如此，商王朝的滅亡常被歸責於妲己，以及紂王沉迷於妲己的美色、荒淫無道而亡國的。
                        但是！真實的妲己與商王朝真是如此？！
                        不管是史家記載，或是小說的創作，甚至是戲劇的演出，都不如由妲己「穿越」到現代親身訴說那些誤解。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 23 天</small>
                        </div>

                        <div class="σφραγίδων">
                            σφραγίδων
                        </div>
                    </div>
                  </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/島嶼群像.jpg")" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3 H3-TEXT" title="島嶼群相──臺灣考古展覽">島嶼群相──臺灣考古展覽</div>
                    <p>
                        展覽 By <a href="http://museum.sinica.edu.tw/exhibitions/57/">歷史文物陳列館</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        島嶼群相，試圖彰顯目前臺灣考古文化看似風華亮麗，卻又埋存幾許隱晦不明的脈動。更新世冰期未結束前，臺灣與中國大陸仍相連接。考古資料也顯示，三萬年前臺東縣長濱鄉的八仙洞遺址發現有舊石器時代文化的遺留，但無法確切地指出這批人什麼時候消失得無影無蹤。
                        隨著一萬八千年前氣候暖化、海水面上升，約在距今八千年前臺灣海峽已然形成；早期人類和動物於是再也無法經由陸橋往返兩地。
                        直到距今五、六千年，一批靠海洋為生的新石器時代早期社群紛紛落腳在臺灣各地及澎湖。歷經千年以後，出現了帶著部分雷同文化要素，卻具有若干文化差異的人們分佈臺灣各地，發展了具有相當風格的新石器時代中期的文化。又過千年，一群以灰黑陶製作和使用為主流，甚至對臺灣閃玉情有獨鍾的社群幾乎遍布島嶼全境；但此時此刻，考古學家依舊無法斷言是傳承關係還是斷裂？
                        與其說在距今兩千年前，玻璃器取代了玉器做為裝飾品，不如說此時在島嶼上呈現了另一波的風潮。除了玻璃製品，各種鐵器或許是隨著人群中具備專業加工技術的匠師而來，於是乎開展出臺灣考古文化的新史頁。
                        曾經，連橫在臺灣通史序中寫道：「臺灣固無史也。荷人啟之，鄭氏作之，清代營之，開物成務，以立我丕基…」，從世界史的視角來看，臺灣在十六世紀大航海時代中，被西方世界「發現」，接踵而來的交流與碰撞，相當複雜，說是毫無頭緒該不為過。無論如何，不同的人群、相異的政治勢力都給臺灣注入了新的血脈、新的基因。
                        考古學家幾乎不能停歇地以新出土的材料，重新詮釋在臺灣形成島嶼之後，每一個世代對在地環境的生態適應與生命歷史過程的展演。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 49 天</small>
                        </div>

                        <div class="λέγοντος">
                            λέγοντος
                        </div>
                    </div>
                   </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/水型展.jpg")" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3  H3-TEXT" title="水形群展">水形群展</div>
                    <p>
                        展覽 By <a href="https://kiangmalingue.com/zh/exhibitions/%E7%95%AB%E5%BB%8A%E7%AD%96%E5%B1%95%EF%BC%9Arhe-%E6%B0%B4%E5%BD%A2/">馬凌畫廊</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        「RHE」來自希臘語「流動的東西」，「panta rhei」（萬物皆流）是希臘哲學家赫拉克利特的名言，表明了他核心的哲學觀點：統一和無常。
                        「RHE」希望從地理、政治、經濟或隱喻的層面探討「水」這個主題，在這個特殊的時期通過「水」把我們所有人都聯繫在一起。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 47 天</small>
                        </div>

                        <div class="πάντα ρεί">
                            πάντα ρεί
                        </div>
                    </div>
                   </div>

                </div>
            </div>
        </div>
   

    

    

        <br />
        <div class="article-title h3">推薦展覽</div>
        <br />

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/時間與時間意識.png")" asp-append-version="true" />
                    </div>

                  <div class="element-text">
                    <div class="h3  H3-TEXT" title="經驗中的時間與物理中的時間">經驗中的時間與物理中的時間</div>
                    <p>
                        展覽 By <a href="https://opinion.udn.com/opinion/story/6685/6336816">LMPST Taiwan</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        日常經驗的視角與物理學的視角。在日常生活之中，我們似乎能感受到時間正在不斷流動，也能感受到時間由過去趨向未來的變化。然而，這些在日常生活中感受到的時間現象，是否真的符合當代物理學理論，特別是愛因斯坦的相對論？如果答案是否定的，那日常經驗與物理學便產生了互相衝突的時間觀念。這種潛在的衝突，不但是哲學家研究時間的一大難題，也將是本次論壇的主題。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 59 天</small>
                        </div>

                        <div class="Ἔρχου">
                            Ἔρχου
                        </div>
                    </div>
                   </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/天竺鼠車車迴力車玩偶.jpg")" href="https://www.moshimoshi-nippon.jp/zh-hant/599641" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3  H3-TEXT" title="天竺鼠PUIPUI!">天竺鼠PUIPUI!</div>
                    <p>
                        動畫 By <a href="https://www.moshimoshi-nippon.jp/zh-hant/599641">moshi</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        2021年1月起在テレビ東京系『きんだーてれび』内播出的TV動畫「PUI PUI 天竺鼠車車」。以天竺鼠成為汽車的世界為舞台、療癒系＜PUI PUI 天竺鼠車車＞大肆活躍的嶄新世界觀讓大人小孩都沈醉其中。其迴響不局限於日本國內、在台灣也造成狂熱人氣、每週播出32回。美國NY時代雜誌也稱之為注目影像作品加以報導、在全世界都掀起了PUI PUI 天竺鼠車車旋風。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 22 天</small>
                        </div>

                        <div class="στέφανος">
                            στέφανος
                        </div>
                    </div>
                   </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/美麗之島－臺灣古地圖與生活風貌展.jpg")" alt="">
                    </div>

                    <div class="element-text">
                        <div class="h3  H3-TEXT" title="美麗之島－臺灣古地圖與生活風貌展">美麗之島－臺灣古地圖與生活風貌展</div>
                        <p>
                            展覽 By <a href="https://event.culture.tw/NMH/portal/Registration/C0103MAction?actId=00162">國立歷史博物館</a>
                        </p>

                        <p class="flex-grow-1 p2">
                          「美麗之島─臺灣古地圖與生活風貌展」主要呈現各階段台灣老地圖中的歷史、生活與文化，以認識台灣風貌。茲分三項主題展示：「歷史臺灣」主題中，以台灣古地圖的發展過程與變遷為軸，將台灣的疆域、行政區域及地理環境的變化呈現島台灣在地圖發展的角色和地位。   
                        </p>

                     <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 38 天</small>
                        </div>

                        <div class="νικήσῃ">
                            νικήσῃ
                        </div>
                      </div>
                    </div>

                </div>
            </div>

             <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/為己而來.jpg")" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3  H3-TEXT" title="為己而來——被史家耽誤的女人">為己而來——被史家耽誤的女人</div>
                    <p>
                        展覽 By <a href="http://museum.sinica.edu.tw/exhibitions/78/">歷史文物陳列館</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        關於本展
                        妲己！商王朝亡國之君紂王的王后。
                        談到她，大家腦海中不免浮現的是「牝雞司晨」、「紅顏禍水」甚至是「狐狸精」等負面形象。不僅如此，商王朝的滅亡常被歸責於妲己，以及紂王沉迷於妲己的美色、荒淫無道而亡國的。
                        但是！真實的妲己與商王朝真是如此？！
                        不管是史家記載，或是小說的創作，甚至是戲劇的演出，都不如由妲己「穿越」到現代親身訴說那些誤解。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 23 天</small>
                        </div>

                        <div class="τόξον">
                            τόξον
                        </div>
                    </div>
                  </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/島嶼群像.jpg")" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3 H3-TEXT" title="島嶼群相──臺灣考古展覽">島嶼群相──臺灣考古展覽</div>
                    <p>
                        展覽 By <a href="http://museum.sinica.edu.tw/exhibitions/57/">歷史文物陳列館</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        島嶼群相，試圖彰顯目前臺灣考古文化看似風華亮麗，卻又埋存幾許隱晦不明的脈動。更新世冰期未結束前，臺灣與中國大陸仍相連接。考古資料也顯示，三萬年前臺東縣長濱鄉的八仙洞遺址發現有舊石器時代文化的遺留，但無法確切地指出這批人什麼時候消失得無影無蹤。
                        隨著一萬八千年前氣候暖化、海水面上升，約在距今八千年前臺灣海峽已然形成；早期人類和動物於是再也無法經由陸橋往返兩地。
                        直到距今五、六千年，一批靠海洋為生的新石器時代早期社群紛紛落腳在臺灣各地及澎湖。歷經千年以後，出現了帶著部分雷同文化要素，卻具有若干文化差異的人們分佈臺灣各地，發展了具有相當風格的新石器時代中期的文化。又過千年，一群以灰黑陶製作和使用為主流，甚至對臺灣閃玉情有獨鍾的社群幾乎遍布島嶼全境；但此時此刻，考古學家依舊無法斷言是傳承關係還是斷裂？
                        與其說在距今兩千年前，玻璃器取代了玉器做為裝飾品，不如說此時在島嶼上呈現了另一波的風潮。除了玻璃製品，各種鐵器或許是隨著人群中具備專業加工技術的匠師而來，於是乎開展出臺灣考古文化的新史頁。
                        曾經，連橫在臺灣通史序中寫道：「臺灣固無史也。荷人啟之，鄭氏作之，清代營之，開物成務，以立我丕基…」，從世界史的視角來看，臺灣在十六世紀大航海時代中，被西方世界「發現」，接踵而來的交流與碰撞，相當複雜，說是毫無頭緒該不為過。無論如何，不同的人群、相異的政治勢力都給臺灣注入了新的血脈、新的基因。
                        考古學家幾乎不能停歇地以新出土的材料，重新詮釋在臺灣形成島嶼之後，每一個世代對在地環境的生態適應與生命歷史過程的展演。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 49 天</small>
                        </div>

                        <div class="Ἀρνίον">
                            Ἀρνίον
                        </div>
                    </div>
                   </div>

                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="products d-flex flex-column card-0">
                    <div class="img-wrap">
                        <img class="w-100" src="@Url.Content("~/images/水型展.jpg")" alt="">
                    </div>

                  <div class="element-text">
                    <div class="h3  H3-TEXT" title="水形群展">水形群展</div>
                    <p>
                        展覽 By <a href="https://kiangmalingue.com/zh/exhibitions/%E7%95%AB%E5%BB%8A%E7%AD%96%E5%B1%95%EF%BC%9Arhe-%E6%B0%B4%E5%BD%A2/">馬凌畫廊</a>
                    </p>

                    <p class="flex-grow-1 p2">
                        「RHE」來自希臘語「流動的東西」，「panta rhei」（萬物皆流）是希臘哲學家赫拉克利特的名言，表明了他核心的哲學觀點：統一和無常。
                        「RHE」希望從地理、政治、經濟或隱喻的層面探討「水」這個主題，在這個特殊的時期通過「水」把我們所有人都聯繫在一起。
                    </p>

                    <div class="product-footer d-flex justify-content-between">
                        <div class="time">
                            <small>剩下 47 天</small>
                        </div>

                        <div class="πάντα ρεί">
                            πάντα ρεί
                        </div>
                    </div>
                   </div>

                </div>
            </div>
        </div>
    </div>
    <br />

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>