@{
    ViewData["Title"] = "Home Page";
}

@section Style
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" asp-append-version="true">
    <!-- Ionicons Fonts Css -->
    <link rel="stylesheet" href="~/lib/plugins/ionicons/ionicons.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/lib/plugins/animate-css/animate.css">
    <!-- Hero area slider css-->
    <link rel="stylesheet" href="~/lib/plugins/slider/slider.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/lib/plugins/slick/slick.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/lib/plugins/facncybox/jquery.fancybox.css">
    <!-- hover -->
    <link rel="stylesheet" href="~/lib/plugins/hover/hover-min.css" asp-append-version="true">
    <!-- Magnify Popup -->
    <link rel="stylesheet" href="~/lib/plugins/magnific-popup/magnific-popup.css">
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}
@*==================================================
    Slider Section Start
    ================================================== -->*@
    
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>合展屋展覽館</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">獨特空間氛圍</b>
                                <b>新型態展覽館</b>
                                <b>電子化票券</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        人們來到展覽館的目的，除了靜態地觀賞作品、學習藝術知識之外，合展屋更強調提供來訪觀眾不同於日常生活的空間體驗。
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right btnindex"
                       data-wow-delay=".9s" href="#exhibitions_content">來看展覽吧</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#main-slider-->


@*<div data-v-2f29a092="" class="container">
    <div data-v-2f29a092="" class="row pb-5">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 about">
            <a href="@Url.Action("Index","Login")">
                <div class="aboutcard">
                    <div class="text-center features-icon">
                        <img data-v-2f29a092="" src="https://www.kecc.com.tw/img/visiting-icon.dd8ca66d.png" alt="image">
                    </div>
                    <div class="text-center features-row-title">
                        <h2>參觀訪客</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 about">
            <a href="@Url.Action("Index","Login")">
                <div class="aboutcard">
                    <div class="text-center features-icon">
                        <img data-v-2f29a092="" src="https://www.kecc.com.tw/img/organizing-icon.d57b89b0.png" alt="image">
                    </div>
                    <div class="text-center features-row-title">
                        <h2>主辦單位</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 about">
            <a href="@Url.Action("Index","Login")">
                <div class="aboutcard">
                    <div class="text-center features-icon">
                        <img data-v-2f29a092="" src="https://www.kecc.com.tw/img/mediacenter-icon.e66659a6.png" alt="image">
                    </div>
                    <div class="text-center features-row-title">
                        <h2>新聞媒體</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>*@

@*<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                            ABOUT ME
                        </h2>
                        <p>
                            這裡可以變成選擇入口的地方
                        </p>
                        <p>
                            會員登入後這邊可以變成輪波
                        </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="./images/about/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>*@ <!-- /#about -->
<!-- #works -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">當期展覽</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                週二至週日，上午09:30至下午5:30 (週一、除夕休館)
            </p>
        </div>
        <div class="row" id="exhibitions_content">
            <div class="col-md-4 col-sm-6">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-1.jpg" class="img-fluid" alt="this is a title">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-1.jpg">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                展覽名稱
                            </a>
                        </h4>
                        <p>
                            展覽簡介
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-4 col-sm-6">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-4.jpg" class="img-fluid" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-4.jpg">買票</a>
                                <a target="_blank" href="single-portfolio.html">詳細</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                展覽名稱
                            </a>
                        </h4>
                        <p>
                            展覽簡介
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-5.jpg" class="img-fluid" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-5.jpg">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                展覽名稱
                            </a>
                        </h4>
                        <p>
                            展覽簡介
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/item-6.jpg" class="img-fluid" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-6.jpg">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                展覽名稱
                            </a>
                        </h4>
                        <p>
                            展覽簡介
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section> <!-- #works -->
<!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        還沒有加入會員 ?
                    </h2>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">加入會員立即使用電子票券，一起來看展吧</p>
                    <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                       data-wow-duration="500ms">立即註冊</a>
                </div>
            </div>

        </div>
    </div>
</section>



@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.1/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>
    <script>*@

@*window.addEventListener("load", () => {*@

@*axios.get('/GetManufactures')
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@
@*axios.post('@Url.Action("getTicketsss")', { "Mf_id": 1})
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@

@*axios.get('@Url.Action("getViewMode")')
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@

@*axios.post('@Url.Action("GetTheManufactures")', {"Mf_id": 1})
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@

@*axios.post('@Url.Action("searchKeyWord")', {"ex_keyWord": "試"})
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@

@*axios.post('@Url.Action("searchDate")', {"dateStart": "2022-07-01", "dateEnd": "2022-12-30"})
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@

@*axios.post('@Url.Action("getVerificationCode")', { "Ex_id": 1 })
    .then(res => console.log(res.data))
    .catch(err => console.log(err))*@
@*})*@



@*var leftclick;
    var rightclick;
    var isopacity;
    $('.fa-chevron-left').parent().click((e) => {
        leftclick = true;
        e.preventDefault();
        $('.imglist').css('transition', '1s');
        $('.imglist').css('transform', 'translateX(-3000px)');
        $('.imglist div').eq(1).css('opacity', '0')
        $('.fa-chevron-left').parent().removeAttr('href');
    })
    $('.fa-chevron-right').parent().click((e) => {
        rightclick = true;
        e.preventDefault();
        $('.imglist').css('transition', '1s');
        $('.imglist div').eq(2).css('opacity', '0')
        $('.imglist').css('transform', 'translateX(-0px)');
        $('.fa-chevron-right').parent().removeAttr('href');
    })
    $('.imglist').on('transitionend', () => {
        if (leftclick == true) {
            $('.imglist').css('transition', '0s');
            $('.imglist').append($('.imglist div').eq(0));
            $('.imglist').css('transform', 'translateX(-1500px)');
            $('.fa-chevron-left').parent().attr('href', '');
            leftclick = false;
        }
        else if (rightclick == true) {
            $('.imglist').css('transition', '0s');
            $('.imglist').prepend($('.imglist div').eq(4));
            $('.imglist').css('transform', 'translateX(-1500px)');
            $('.fa-chevron-right').parent().attr('href', '');
            rightclick = false;
        }
    })
    $('.imglist div').on('transitionend', (e) => {
        e.stopPropagation();
        $('.imglist div').css('opacity', '1');
    })</script>*@
<partial name="_memberId" />

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Form Validation -->
    <script src="~/lib/plugins/form-validation/jquery.form.js"></script>
    <script src="~/lib/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- slick slider -->
    <script src="~/lib/plugins/slick/slick.min.js"></script>
    <!-- bootstrap js -->
    <!-- wow js -->
    <script src="~/lib/plugins/wow-js/wow.min.js"></script>
    <!-- slider js -->
    <script src="~/lib/plugins/slider/slider.js"></script>
    <script src="~/lib/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Fancybox -->
    <script src="~/lib/plugins/facncybox/jquery.fancybox.js"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/49896da301.js" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- template main js -->
    <script src="~/lib/instascan/instascan.min.js" asp-append-version="true"></script>
    <script>
        const root = @Url.Content("~/images/");

        const constraints = {
            'video': true,
            'audio': true
        }
        navigator.mediaDevices.getUserMedia(constraints)
            .then(stream => {
                console.log('Got MediaStream:', stream);
            })
            .catch(error => {
                console.error('Error accessing media devices.', error);
            });
        let mystring
        let scanner = new Instascan.Scanner({ video: document.getElementById('scanner') });
        scanner.addListener('scan', function (content) {
            @*console.log(content);*@
            verifyString = content
            console.log(typeof (verifyString))
             //ToDO:取得廠商QrCode 傳入展覽Id 攤位Id 攤位Id
            const splitStr = verifyString.split('|')
            if (splitStr[0] === "MF") {
                axios.post('@Url.Action("postMfQrCode", "Home")', { ex_id: splitStr[1], mf_id: splitStr[2], boothNum: splitStr[3] })
                    .then(res => {
                        console.log(res.data)
                    })
                    .catch(err => console.log(err))
            }


            //ToDO:取得會員QrCode 傳入展覽Id
                axios.post('@Url.Action("postQrCode", "Home")', { Ex_id: 1, VerificationCode: verifyString})
                .then(res => {
                    console.log(res.data)
                })
                .catch(err => { console.log(err)})
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    </script>
    <script src="~/js/HomeIndex.js" asp-append-version="true"></script>

}
