@model IEnumerable<Fairy_project.Models.Exhibitionss>

<style>
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 900;
}

/*.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -10px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card {
  background-size: cover;
  background-position: center center;
}

.card p { 
  flex-grow: 1;
  line-height: 1.4;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}*/

</style>


    <div class="container" style="margin-top:200px;margin-bottom:100px;">

        <div class="search">
            <h2>展覽搜尋</h2>
        </div>

        <form asp-action="search" >
                <div class="input-group">
                    <input type="date" name="dtStart"/>
                    <input type="date" name="dtEnd"/>
                    <a asp-controller="Home" asp-action="search" asp-route-id="1" class="btn btn-dark">單價遞增</a>
                    <a asp-controller="Home" asp-action="search" asp-route-id="2" class="btn btn-dark">單價遞減</a>
                    <span class="input-group-text">展覽關鍵字</span>
                    <input type="text" class="form-control" name="txtKeyword" />
                    <input type="submit" value="搜尋" class="btn btn-dark" />
                </div>
        </form>




        <div class="row">
            @foreach(var item in Model)
            {
                @*<div class="card col-12 col-sm-6 col-md-4 d-flex" style="width: 18rem;margin-top:50px;">
                    <img src="@Url.Content("~/images/")@item.ExhibitPImg" class="card-img-top" alt="@item.ExhibitName">
                    <div class="card-body">
                        <h5 class="card-title flex-grow-1">@item.ExhibitName</h5>
                        <p class="card-text">@item.Datefrom~@item.Dateto</p>
                        <p>單價：@item.TicketPrice</p>
                        <a href="#" class="btn btn-dark stretched-link">詳細資訊</a>
                    </div>
                </div>*@
                <div class="col-md-4 col-sm-6" style="margin-top:30px;">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="@Url.Content("~/images/")@item.ExhibitPImg" class="img-fluid" alt="this is a title">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-1.jpg">AddCart</a>
                                <a target="" href="@Url.Action("exhibitionDetail","Home")/@item.ExhibitId">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#" class="flex-grow-1">
                                @item.ExhibitName
                            </a>
                        </h4>
                        <p class="card-text">@item.Datefrom~@item.Dateto</p>
                        <p>單價：@item.TicketPrice</p>
                        @*<p class="card_description">
                            @item.ExDescription
                        </p>*@
                    </figcaption>
                </figure>
            </div>
            }
        </div>
    </div>
