@model Fairy_project.ViewModels.LoginViewModels;

@{
    Layout = "_loginLay";

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <div class="content">
        <div class="form sign-in" style="margin-top:120px">
            <form method="post" action="@Url.Action("Index")">
                <h2>歡迎回來</h2>
                <label>
                    <span>帳號</span>
                    <input type="text" required name="uid" placeholder="account" id="ac"/>
                </label>
                <label>
                    <span>密碼</span>
                    <input type="password" required name="pwd" placeholder="password" />
                </label>
                <!-- <p class="forgot-pass"><a href="javascript:">忘記密碼？</a></p> -->
                <button type="submit" class="submit button" id="login">登 入</button>
                <script src="https://accounts.google.com/gsi/client" async defer></script>
                <div id="g_id_onload"
                     data-client_id="217722213447-u7vgequqfqk0iuhodnn3c2pl82b7k259.apps.googleusercontent.com"
                     data-login_uri="@Url.Action("ValidGoogleLogin","Login")"
                     data-auto_prompt="false">
                </div>
                <div class="g_id_signin d-flex justify-content-center"
                     data-type="standard"
                     data-size="large"
                     data-theme="outline"
                     data-text="sign_in_with"
                     data-shape="rectangular"
                     data-logo_alignment="left">
                </div>
            </form>
        </div>


        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>尚未成為會員？</h2>
                    <p>立即註冊會員!</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帳號？</h2>
                    <p>帳號登入,好久不見!</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">會員註冊</span>
                    <span class="m--in">登 入</span>
                </div>
                <div class="img__btn2">
                    <span class="m--up">廠商註冊</span>
                    <span class="m--in">登 入</span>
                </div>
            </div>
            <div class="first">
                <form method="post" action="@Url.Action("MemberCreateAcc")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form sign-up">
                        <h2>會員註冊</h2>
                        <label>
                            <span>電子郵件(登入帳號)</span>
                            <input asp-for="member.MemberAc" id="memAccount" type="email" required placeholder="example@@gmail.com" />
                            <input class="d-none" asp-for="permissions.Account" id="M_permissions" type="email"/>
                        </label>
                        <label>
                            <span>密碼</span>
                            <input asp-for="permissions.Password" type="password" required placeholder="最少8個字元" />
                        </label>
                        <label>
                            <span>會員名稱</span>
                            <input asp-for="member.MemberName" type="text" required placeholder="姓名" />
                        </label>
                        <div class="gender">
                            <input type="radio" name="gender" value="男" checked>
                            <label>男</label>
                            <input type="radio" name="gender" value="女">
                            <label>女</label>
                            <input asp-for="member.Gender" type="text" id="gender" style="visibility:hidden;">
                        </div>
                        <label>
                            <span>地址</span>
                            <input asp-for="member.Address" type="text" required placeholder="地址" />
                        </label>
                        <label>
                            <span>電話</span>
                            <input asp-for="member.PhoneNumber" type="text" required placeholder="09-1234-5678" maxlength="10" />
                            <input class="d-none" asp-for="permissions.PermissionsLv" type="text" value="1"/>
                        </label>
                        <div class="form-group">
                            <input type="submit" value="註冊" class="button submit" id="btn" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="second">
                <form method="post" action="@Url.Action("ManufacturesCreateAcc")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form sign-up">
                        <h2>廠商註冊</h2>
                        <label>
                            <span>廠商名稱</span>
                            <input asp-for="manufactures.ManufactureName" type="text" required placeholder="廠商名稱" />
                        </label>
                        <label>
                            <span>統一編號(登入帳號)</span>
                            <input asp-for="manufactures.ManufactureAcc" id="manufacturesAcc" type="text" required placeholder="00001111" maxlength="8" />
                            <input asp-for="permissions.Account" id="MF_permissions" type="number" />
                        </label>
                        <label>
                            <span>密碼</span>
                            <input asp-for="permissions.Password" type="password" required placeholder="最少8個字元" />
                        </label>
                        <label>
                            <span>廠商負責人</span>
                            <input asp-for="manufactures.MfPerson" type="text" required placeholder="姓名" />
                        </label>
                        <label>
                            <span>廠商EMAIL</span>
                            <input asp-for="manufactures.MfEmail" type="email" required placeholder="example@@gmail.com" />
                        </label>
                        <label>
                            <span>廠商電話</span>
                            <input asp-for="manufactures.MfPhoneNum" type="text" required placeholder="09-1234-5678" maxlength="10" />
                            <input asp-for="permissions.PermissionsLv" type="text" value="2" id="MF_permissionsLv"/>
                        </label>
                        <div class="form-group">
                            <input type="submit" value="註冊" class="button submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    //$.ajax({
    //    type: "POST",
    //    url: "@Url.Action("VerifyGoogleToken")",
    //    //dataType: ,
    //    //data: { obj: ticket },
    //}).done(function(data) {
    //    console.log(data);
    //    sessionStorage.setItem('acount', data)
    //})
    </script>





