@model Fairy_project.ViewModels.ExhibitIdDetail_1_
@section Style

    {
    <link rel="stylesheet" href="~/css/MasterExhibitionDetail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style_back.css" asp-append-version="true">

}
    @{
    Layout = "_Admin_Layout";
}


<div class="container mt-5">

    <form action="@Url.Action("ExhibitIdDetail")" method="post" enctype="multipart/form-data">
        <div class="row align-items-center my-3">
            <div class="col-lg-11 col-sm-10 col-10 text-start">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="titleinput">
                            <i id="edittitle"
                               class="fa-regular fa-pen-to-square opacity-75 fa-xl text-center"></i>
                        </label>
                    </div>
                    <input asp-for="exhibitName" id="titleinput" type="text" class="fs-3 form-control text-center" placeholder="展覽標題"
                           aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
                </div>
            </div>
            @{
                if (Model.exhibitStatus == 1)
                {
                        <span class="col-lg-1 col-sm-2 col-2 badge bg-danger py-3 fs-6">規劃</span>
                        <input asp-for="exhibitStatus" value="@Model.exhibitStatus" hidden />
                }
                else if (Model.exhibitStatus == 2)
                {
                        <span class="col-lg-1 col-sm-2 col-2 badge bg-warning text-dark py-3 fs-6">籌備</span>
                        <input asp-for="exhibitStatus" value="@Model.exhibitStatus" hidden />
                }
                else if (Model.exhibitStatus == 3)
                {
                        <span class="col-lg-1 col-sm-2 col-2 badge bg-success py-3 fs-6">舉辦</span>
                        <input asp-for="exhibitStatus" value="@Model.exhibitStatus" hidden />
                }
            }
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-around align-items-center px-5 mt-4">
                @{
                    if (Model.exhibitStatus == 1)
                    {
                            <div id="areaedit" class="d-flex justify-content-center align-items-end">
                                <h5 class="">
                                    No.
                                    <input asp-for="exhibitId" class="h5 pe-none border-0 w-50" value="@Model.exhibitId" readonly>
                                </h5>
                            </div>
                            <div class="dropdown d-inline-block mb-1">
                                <button class="fs-6 btn btn-outline-dark border btn-lg dropdown-toggle" type="button"
                                    id="selecarea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-display="static">
                                    @Model.areaNumstring
                                </button>
                                <input asp-for="areaNum" type="text" id="area" value="@Model.areaNum" hidden>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item areaoption" href="#">A</a>
                                    <a class="dropdown-item areaoption" href="#">B</a>
                                </div>
                            </div>
                    }
                    else
                    {
                            <h5 class="w-25">No.<input asp-for="exhibitId" class="h5 pe-none border-0 w-50" value="@Model.exhibitId" readonly></h5>
                        if (Model.areaNumstring == "A")
                        {
                                <h5 class="col-1 py-2 px-0 bg2 border border-1 text-center">@Model.areaNumstring</h5>
                        }
                        else if (Model.areaNumstring == "B")
                        {
                                <h5 class="col-1 py-2 px-0 bg2 border border-1 text-center">@Model.areaNumstring</h5>
                        }
                    }
                }

            </div>
            <div class="col-lg-6 col-sm-12 col-12 my-5">
                <div class="position-relative my-4 border border-1 rounded-2">
                    @{
                        if (Model.exhibit_T_img != null)
                        {
                                <img id="ticketimg" class="w-100" src="@Url.Content($"~/images/{Model.exhibit_T_img}")" alt="">
                        }
                        else
                        {
                                <img id="ticketimg" class="w-100" src="~/images/ticketdefault.png" alt="">
                        }
                    }
                    @{
                        if (Model.exhibitStatus != 3)
                        {
                                <label for="ticketimginput" class="d-inline">
                                    <input asp-for="fexhibit_T_img" type="file" id="ticketimginput" hidden
                               accept=".png,.jpg">
                                    <i class="fa-solid fa-file-image fa-2x m-2 p-2 rounded-3 position-absolute end-0 bottom-0"></i>
                                </label>
                        }
                    }
                </div>
                <div class="position-relative rounded-2 border border-1">
                    @{
                        if (Model.exhibit_Pre_img != null)
                        {
                                <img id="horizontalposterimage" class="w-100" src="@Url.Content($"~/images/{Model.exhibit_Pre_img}")" alt="">
                        }
                        else
                        {
                                <img id="horizontalposterimage" class="w-100" src="~/images/horizontalposterdefault.png" alt="">
                        }
                    }
                    @{
                        if (Model.exhibitStatus != 3)
                        {
                                <label for="horizontalposterimageinput" class="d-inline">
                                    <input asp-for="fexhibit_Pre_img" type="file" id="horizontalposterimageinput" hidden
                               accept=".png,.jpg">
                                    <i class="fa-solid fa-file-image fa-2x m-2 p-2 rounded-3 position-absolute end-0 bottom-0"></i>
                                </label>
                        }

                    }

                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-12 p-lg-5 p-sm-2  d-flex flex-column justify-content-center">
                <div class="position-relative rounded-2 border border-1">
                    @{
                        if (Model.exhibit_P_img != null)
                        {
                                <img id="verticalposterimage" class="w-100" src="@Url.Content($"~/images/{Model.exhibit_P_img}")" alt="">
                        }
                        else
                        {
                                <img id="verticalposterimage" class="w-100" src="~/images/horizontalposterdefault.png" alt="">
                        }
                    }
                    @{
                        if (Model.exhibitStatus != 3)
                        {
                                <label for="verticalposterimageinput" class="d-inline">
                                    <input asp-for="fexhibit_P_img" type="file" id="verticalposterimageinput" hidden
                               accept=".png,.jpg">
                                    <i class="fa-solid fa-file-image fa-2x m-2 p-2 rounded-3 position-absolute bottom-0 end-0 translate-middle"
                                   href="#"></i>
                                </label>
                        }
                    }
                </div>
            </div>
        </div>

        @{
            if (Model.exhibitStatus == 1)
            {
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-12 col-12 fs-1 px-0 pe-xl-2 pe-0 text-center">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <label class="input-group-text mdi mdi-account fs-6" for="datefrom">
                                        起始日期
                                    </label>
                                </div>
                                <input asp-for="datefrom" id="fromdateinput" type="datetime-local" class="fs-6 form-control"
                           value="@Convert.ToDateTime(Model.datefrom).ToString("yyyy-MM-dd hh:mm")">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12 px-0 fs-1 px-0 ps-xl-2 ps-0 text-center">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <label class="input-group-text mdi mdi-account fs-6" for="dateto">
                                        結束日期
                                    </label>
                                </div>
                                <input asp-for="dateto" id="todateinput" type="datetime-local" class="fs-6 form-control" value="@Convert.ToDateTime(Model.dateto).ToString("yyyy-MM-dd hh:mm")">
                            </div>
                        </div>
                    </div>
            }
            else
            {
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-12 col-12 fs-1 px-0 pe-xl-2 pe-0 text-center">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mdi mdi-account fs-6" for="datefrom">
                                        起始日期
                                    </span>
                                </div>
                                <input asp-for="datefrom" id="fromdateinput" type="datetime-local" class="fs-6 form-control"
                           value="@Convert.ToDateTime(Model.datefrom).ToString("yyyy-MM-dd hh:mm")" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12 px-0 fs-1 px-0 ps-xl-2 ps-0 text-center">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mdi mdi-account fs-6" for="dateto">
                                        結束日期
                                    </span>
                                </div>
                                <input asp-for="dateto" id="todateinput" type="datetime-local" class="fs-6 form-control" value="@Convert.ToDateTime(Model.dateto).ToString("yyyy-MM-dd hh:mm")" readonly>
                            </div>
                        </div>
                    </div>
            }
        }
        <div class="row align-items-center my-5">
            <div class="col-12 rounded-3 position-relative text-center border">
                <textarea asp-for="ex_description" id="contentinput" class="col-11 h5 rounded-3 border-0 my-5" rows="15"
                          placeholder="輸入詳細" autocomplete="off" readonly>@Model.ex_description</textarea>
                <i id="editcontent"
                   class="fa-regular fa-pen-to-square fa-2x m-2 p-2 rounded-3 opacity-75 position-absolute bottom-0 end-0"
                   href="#"></i>
            </div>
        </div>
        @{
            if (Model.exhibitStatus == 1 || Model.exhibitStatus == 2)
            {
                    <div class="row">
                        <div class="accordion p-0" id="accordionHeaderBorderBottom">
                            <div class="card">
                                <div class="card-header" id="headingBorderBottomOne">
                                    <h2>
                                        <div class="d-flex justify-content-between">
                                            <h4 class="m-0 px-3 my-3">票卷管理</h4>
                                            <div class="d-flex align-items-center">
                                                <h2 class="text-end m-0 mx-3"></h2>

                                                <button type="button" data-toggle="collapse"
                                                    data-target="#collapseBorderBottomOne" aria-expanded="true"
                                                    aria-controls="collapseBorderBottomOne">
                                                    <i class="fa-solid fa-chevron-down fa-1x mx-3 opacity-75"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                                <div id="collapseBorderBottomOne" class="collapse show"
                                 aria-labelledby="headingBorderBottomOne" data-parent="#accordionHeaderBorderBottom">
                                    <div id="ticketreport" class="row rounded-3 p-3 my-3 align-items-center">

                                        <div class="col-md-6 col-xl-4">
                                            <div class="card mx-4 my-2 p-4 border border-1">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title my-4">預計進場人數</h4>
                                                    <input asp-for="ex_personTime" id="expectedpeople" type="number" value="@Model.ex_personTime"
                                               class="text-center border-0 border-secondary border-bottom my-4 py-3 form-control fs-4"
                                               placeholder="輸入數字" autocomplete="off"></input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-4">
                                            <div class="card mx-4 my-2  p-4 border border-1">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title my-4">預計收益金額</h4>
                                                    <input asp-for="ex_totalImcome" id="expecteincome" type="number" value="@Model.ex_totalImcome"
                                               class="text-center border-0 border-secondary border-bottom my-4 py-3 form-control fs-4"
                                               placeholder="輸入數字" autocomplete="off"></input>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-xl-4">
                                            <div class="card mx-4 my-2  p-4 border border-1">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title my-1">門票定價</h4>
                                                    <i id="editticketprice"
                                                   class="fa-regular fa-pen-to-square fa-lg p-0 mx-3 my-4 opacity-75">
                                                        自訂
                                                    </i>
                                                    <i id="mathticket"
                                                   class="fa-regular fa-keyboard fa-lg p-0 mx-3 my-4 opacity-75">
                                                        試算
                                                    </i>
                                                    <input asp-for="ticket_Peice" id="ticketpriceinput" type="number" value="@Model.ticket_Peice"
                                               class="text-danger text-center border-0 border-secondary border-bottom m-0 py-3 fs-4 form-control mb-3"
                                               placeholder="輸入數字" autocomplete="off"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

            }
            else if (Model.exhibitStatus == 3)
            {
                    <div class="row">
                        <div class="accordion p-0" id="accordionHeaderBorderBottom">
                            <div class="card">
                                <div class="card-header" id="headingBorderBottomOne">
                                    <h2 class="mb-0">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="m-0 px-3 my-3">售票額</h4>
                                            <div class="d-flex align-items-center w-75 w-lg-25  justify-content-end">
                                                <span id="applysum" class="h5 m-0">@Model.soldsum / NT </span>
                                                <span id="applysumprice" class="h5 text-success m-0">$ @Model.soldprice</span>
                                                <button type="button" data-toggle="collapse"
                                                    data-target="#collapseBorderBottomOe" aria-expanded="true"
                                                    aria-controls="collapseBorderBottomOne">
                                                    <i class="fa-solid fa-chevron-down fa-sm mx-3 opacity-75"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                                <div id="collapseBorderBottomOe" class="collapse show" aria-labelledby="headingBorderBottomOne"
                                 data-parent="#accordionHeaderBorderBottom">
                                    <div id="ticketreport"
                                     class="row rounded-3 p-3 my-4 align-items-center justify-content-center">

                                        <div class="col-md-6 col-xl-4">
                                            <div class="card mx-4 my-2 p-4 border border-1">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title my-4">單日最高</h4>
                                                    <h3 class="m-3 p-3 fw-bold">@Model.mostpeople</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-4">
                                            <div class="card mx-4 my-2  p-4 border border-1">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title my-3">昨日進場人數</h4>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <h3 class="m-3 p-3 fw-bold">@Model.yesterdayperson</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-4 my-3">
                                            <div class="card mx-4 my-2  p-4 border border-1">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title my-4">距離預期</h4>
                                                    @{
                                                    if (Model.insum < Model.ex_personTime)
                                                    {
                                                                <h4 class="fw-bold text-danger">@(Model.insum - Model.ex_personTime) <span class="c2">人</span></h4>
                                                    }
                                                    else
                                                    {
                                                                <h4 class="fw-bold text-success">+@(Model.insum - Model.ex_personTime) <span class="c2">人</span></h4>
                                                    }
                                                    if (Model.soldprice < Model.ex_totalImcome)
                                                    {
                                                                <h4 class="p-2 text-danger">$@(Model.soldprice - Model.ex_totalImcome)<span class="c2"> NT</span></h4>
                                                    }
                                                    else
                                                    {
                                                                <h4 class="p-2 text-success">+$@(Model.soldprice - Model.ex_totalImcome)<span class="c2"> NT</span></h4>

                                                    }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-12 d-flex flex-wrap justify-content-around align-items-center my-2">
                                            <div class="input-group col-lg-3 col-md-4 col-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="">門票定價</span>
                                                </div>
                                                <input id="ticketpriceinput" type="text" class="form-control text-center fs-6"
                                                   placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                                                   value="@Model.ticket_Peice" readonly>
                                                <input asp-for="ticket_Peice" id="ticketpriceinput" type="number" value="@Model.ticket_Peice" hidden>
                                                <input asp-for="ex_personTime" id="expectedpeople" type="number" value="@Model.ex_personTime" hidden>
                                                <input asp-for="ex_totalImcome" id="expecteincome" type="number" value="@Model.ex_totalImcome" hidden>
                                            </div>

                                            <div class="col-lg-9 col-md-8 col-12 my-3 d-flex">
                                                <div class="form-group d-flex align-items-center w-50 m-0">
                                                    自<select class="form-control rounded-0 bg-light mx-2" id="searchdatefrom">
                                                        @{
                                                        for (var day = Model.datefrom.Date; day.Date <= Model.dateto.Date; day = day.AddDays(1))
                                                        {
                                                                    <option value="@Convert.ToDateTime(day).ToString("yyyy/MM/dd")">@Convert.ToDateTime(day).ToString("yyyy/MM/dd")</option>
                                                        }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group d-flex align-items-center w-50 m-0">
                                                    到<select class="form-control rounded-0 bg-light mx-2" id="searchdateto">
                                                        @{
                                                        for (var day = Model.datefrom.Date; day.Date <= Model.dateto.Date; day = day.AddDays(1))
                                                        {
                                                                    <option value="@Convert.ToDateTime(day).ToString("yyyy/MM/dd")">@Convert.ToDateTime(day).ToString("yyyy/MM/dd")</option>
                                                        }
                                                        }
                                                    </select>
                                                </div>
                                                <i id="searchticketreport"
                                               class="fa-solid fa-magnifying-glass opacity-75 col-xs-12 fa-xl p-0 mt-4"></i>

                                            </div>
                                        </div>
                                        <div class="col-11 my-3">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            }

        }
        @{
            if (Model.exhibitStatus == 1)
            {
                    <div class="row my-3">
                        <div class="accordion p-0" id="accordionHeaderBorderBottom">
                            <div class="card">
                                <div class="card-header" id="headingBorderBottomOne">
                                    <h2 class="mb-0">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="m-0 px-3 my-3">攤位管理</h4>
                                            <div class="d-flex align-items-center">
                                                <h2 class="text-end m-0 mx-3"></h2>
                                                <button type="button" data-toggle="collapse"
                                                    data-target="#collapseBorderBottomO" aria-expanded="true"
                                                    aria-controls="collapseBorderBottomOne">
                                                    <i class="fa-solid fa-chevron-down fa-1x mx-3 opacity-75"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                                <div id="collapseBorderBottomO" class="collapse show"
                                 aria-labelledby="headingBorderBottomOne" data-parent="#accordionHeaderBorderBottom">
                                    <div id="manufacturerreport"
                                     class="row rounded-3 p-3 align-items-center justify-content-center">



                                        <div class="col-lg-11 col-sm-12 my-3 py-3 d-flex flex-wrap text-center border border-1 rounded-3 ">
                                            <h4 class="col-lg-3 col-sm-6 col-12 m-0">攤位等級</h4>
                                            <h4 class="col-lg-3 col-sm-6 col-12 m-0"></h4>
                                            <h4 class="col-lg-3 col-sm-6 col-12 m-0">攤位價格</h4>
                                            <h4 class="col-lg-3 col-sm-6 col-12 m-0">攤位數量</h4>
                                        </div>
                                        @{
                                        int bsum = 0;
                                        foreach (var Booths in Model.setboothslist)
                                        {
                                                    <div class="col-11 py-3 my-3 d-flex rounded-pill align-items-center text-center border border-1 rounded-3">
                                                        <button class="w-25 btn px-0 rounded-pill d-flex justify-content-center"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                            <input asp-for="setboothslist[bsum].boothLv"
                                           class="pe-none w-75 text-center border-0 h5 m-0 c1 blv"
                                           value="@Model.setboothslist[bsum].boothLv"></input><i class="fa-solid fa-chevron-down fa-lg opacity-75 ms-2 mt-2"></i>
                                                        </button>
                                                        <ul class="dropdown-menu ms-5 text-center p-0">
                                                            <li><a class="dropdown-item h5 m-0" href="#">大型</a></li>
                                                            <li><a class="dropdown-item h5 m-0" href="#">中型</a></li>
                                                            <li><a class="dropdown-item h5 m-0" href="#">小型</a></li>
                                                        </ul>
                                                        <h3 class="w-25 m-0"></h3>
                                                        <div class="w-25">
                                                            <input asp-for="setboothslist[bsum].boothPrice"
                                           class="w-50 text-center h5 m-0 border-0 border-secondary border-bottom py-2 bpri" value="@Model.setboothslist[bsum].boothPrice"
                                           placeholder="輸入價格" type="number" autocomplete="off"></input>
                                                        </div>
                                                        <div class="w-25">
                                                            <input asp-for="setboothslist[bsum].boothsum"
                                           class="w-50 text-center h5 m-0 border-0 border-secondary border-bottom py-2 bsum" value="@Model.setboothslist[bsum].boothsum"
                                           placeholder="輸入數量" type="number" autocomplete="off"></input><i class="position-absolute mx-3 pt-2 fa-regular fa-trash-can fa-2x deletebooth"></i>
                                                        </div>
                                                    </div>
                                            bsum++;
                                        }
                                        }
                                        <div class="col-11 d-flex align-items-center text-center border rounded-pill border-1">
                                            <a id="addbooth" href="#" class="py-3 w-100 h-100 border-0 text-reset">
                                                <i class="w-100 h-100 fa-solid fa-plus fa-2x "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-around my-5">

                        <button type="submit" class="btn btn-outline-dark col-lg-2 col-sm-4 col-4 fs-4">儲存修改</button>
                        <a asp-action="ChangeExhibitState" asp-route-exhibitId="@Model.exhibitId" class="btn btn-outline-warning col-lg-2 col-sm-4 col-4 fs-4">進入籌備</a>
                        <a asp-action="DeleteExhibition" asp-route-exhibitId="@Model.exhibitId" class="btn btn-outline-danger col-lg-2 col-sm-4 col-4 fs-4">刪除展覽</a>
                    </div>
            }
            else if (Model.exhibitStatus == 2 || Model.exhibitStatus == 3)
            {
                    <div class="row my-3">

                        <div class="accordion border-bottom p-0" id="accordionHeaderBorderBottom">
                            <div class="card">
                                <div class="card-header" id="headingBorderBottomOne">
                                    <h2 class="mb-0">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="m-0 px-3 my-3">承租額</h4>
                                            <div class="d-flex align-items-center w-75 w-lg-25 justify-content-end">
                                                <span id="applysum" class="h5 m-0">@Model.applysum / NT </span>
                                                <span id="applysumprice" class="h5 text-success m-0">$ @Model.applysumprice</span>
                                                <button type="button" data-toggle="collapse"
                                                    data-target="#collapseBorderBottomO" aria-expanded="true"
                                                    aria-controls="collapseBorderBottomOne">
                                                    <i class="fa-solid fa-chevron-down fa-sm mx-3 opacity-75"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                            <div id="collapseBorderBottomO" class="collapse show border border-1" aria-labelledby="headingBorderBottomOne"
                             data-parent="#accordionHeaderBorderBottom">
                                <div id="manufacturerreport23"
                                 class="row rounded-3 align-items-center justify-content-center">
                                    <input id="searchbnuminput" type="text" placeholder="輸入攤位編號"
                                       class="col-lg-2 col-sm-6 col-6 m-3 py-2 text-center h5 border-0 border-bottom"
                                       autocomplete="off">
                                    @{
                                    if (Model.exhibitStatus == 2)
                                    {

                                                <div class="btn-group col-lg-2 col-sm-4 col-4">
                                                    <button class="btn px-0 border border-1 d-flex justify-content-center"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                        <input id="searchstate" class="pe-none w-75 text-center border-0 h5 m-0 blv" value=""></input><i class="fa-solid fa-chevron-down fa-lg opacity-75 ms-2 mt-2"></i>
                                                    </button>
                                                    <ul class="dropdown-menu text-center p-0">
                                                        <li><a class="dropdown-item h5 m-0 text-dark" href="#">全部</a></li>
                                                        <li><a class="dropdown-item h5 m-0 text-dark" href="#">未通過</a></li>
                                                        <li><a class="dropdown-item h5 m-0 text-warning" href="#">待審核</a></li>
                                                        <li><a class="dropdown-item h5 m-0 text-danger" href="#">尚未付款</a></li>
                                                        <li><a class="dropdown-item h5 m-0 text-success" href="#">已付款</a></li>
                                                    </ul>
                                                </div>
                                    }
                                    }
                                    <div class="col-lg-1 col-sm-1 col-1 text-center">
                                        <a class="text-reset p-0 my-3">
                                            <i id="searchapply"
                                           class="fa-solid fa-magnifying-glass opacity-75 fa-2xl p-0"></i>
                                        </a>
                                    </div>
                                    <partial name="_ApplyPartial.cshtml" />
                                    <div id="partial" class="d-flex flex-column justify-content-center align-items-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around my-5">
                        <button type="submit" class="btn btn-outline-dark col-lg-2 col-sm-4 col-4 fs-4">儲存修改</button>
                        <a asp-action="Index" class="btn btn-outline-dark col-lg-2 col-sm-4 col-4 fs-4">回上一頁</a>
                    </div>

            }
        }
    </form>
</div>
@*---------------------------*@
@*<div class="container">
    <form action="@Url.Action("ExhibitIdDetail")" method="post" enctype="multipart/form-data">
        <div class="row align-items-center my-3">
            <div class="col-lg-1 col-sm-2 col-4">
                <i id="edittitle" class="fa-regular fa-pen-to-square fa-4x opacity-75 text-center"></i>

            </div>
            <div class="col-lg-10 col-sm-8 col-6 p-0  text-start">
                <input asp-for="exhibitName" id="titleinput" type="text"
                       class="text-center my-3 py-3 mx-3 border-0 rounded-3 col-11 h1 mx-0 bg1" value="@Model.exhibitName"
                       placeholder="輸入標題" autocomplete="off">
            </div>
            @{
                if (Model.exhibitStatus == 1)
                {
                    <span class="col-lg-1 col-sm-2 col-2 badge bg-danger text-black fs-3 py-4">規劃</span>
                    <input asp-for="exhibitStatus" value="@Model.exhibitStatus" hidden />
                }
                else if (Model.exhibitStatus == 2)
                {
                    <span class="col-lg-1 col-sm-2 col-2 badge bg-warning text-black fs-3 py-4">籌備</span>
                    <input asp-for="exhibitStatus" value="@Model.exhibitStatus" hidden />
                }
                else if (Model.exhibitStatus == 3)
                {
                    <span class="col-lg-1 col-sm-2 col-2 badge bg-success text-black fs-3 py-4">舉辦</span>
                    <input asp-for="exhibitStatus" value="@Model.exhibitStatus" hidden />
                }
            }
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-12 my-5">
                @{
                    if (Model.exhibitStatus == 1)
                    {
                        <div id="areaedit" class="d-flex justify-content-around">
                            <h2 class="mx-5 mb-5 w-50">No.<input asp-for="exhibitId" class="h2 pe-none border-0 w-50 bg2" value="@Model.exhibitId" readonly></h2>
                            <button class="w-25 h-25 btn px-0 bg2 border border-1 d-flex justify-content-center"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <input asp-for="areaNumstring" type="text" id="areainput" class="pe-none w-75 text-center border-0 h3 m-0 bg2 c1"
                               value="@Model.areaNumstring"></input>
                                <i class="fa-solid fa-chevron-down fa-lg opacity-75 ms-2 mt-3"></i>
                            </button>
                            <ul class="dropdown-menu text-center p-0">
                                <li><a class="dropdown-item h4 m-0" href="#">A</a></li>
                                <li><a class="dropdown-item h4 m-0" href="#">B</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-around">
                            <h2 class="mx-5 mb-5 w-50">No.<input asp-for="exhibitId" class="h2 pe-none border-0 w-50 bg2" value="@Model.exhibitId" readonly></h2>
                            @{
                                if (Model.areaNumstring == "A")
                                {
                                    <h3 class="w-25 h-25 py-2 px-0 bg2 border border-1 text-center">展區 @Model.areaNumstring</h3>
                                }
                                else if (Model.areaNumstring == "B")
                                {
                                    <h3 class="w-25 h-25 py-2 px-0 bg2 border border-1 text-center">展區 @Model.areaNumstring</h3>
                                }
                            }
                        </div>
                    }
                }



                <div class="position-relative my-4">
                    <img id="ticketimg" class="rounded-3 border border-1 w-100" src="@Url.Content($"~/images/{Model.exhibit_T_img}")" alt="">
                    @{
                        if (Model.exhibitStatus != 3)
                        {
                            <label for="ticketimginput" class="d-inline">
                                <input asp-for="fexhibit_T_img" type="file" value="@Url.Content($"~/images/{Model.exhibit_T_img}")" id="ticketimginput" hidden accept=".png,.jpg">
                                <i class="fa-solid fa-file-image fa-2x m-2 p-2 rounded-3 position-absolute end-0 bottom-0 bg1"></i>
                            </label>
                        }
                    }
                </div>
                <div class="position-relative">
                    <img id="horizontalposterimage" class="rounded-3 border border-1 w-100"
                         src="@Url.Content($"~/images/{Model.exhibit_Pre_img}")" alt="">
                    @{
                        if (Model.exhibitStatus != 3)
                        {
                            <label for="horizontalposterimageinput" class="d-inline">
                                <input asp-for="fexhibit_Pre_img" type="file" id="horizontalposterimageinput" hidden accept=".png,.jpg">
                                <i class="fa-solid fa-file-image fa-2x m-2 p-2 rounded-3 position-absolute end-0 bottom-0 bg1"></i>
                            </label>
                        }

                    }

                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-12 p-lg-5 p-sm-2">
                <div class="position-relative p-3">
                    <img id="verticalposterimage" class="rounded-3 border border-1 w-100"
                         src="@Url.Content($"~/images/{Model.exhibit_P_img}")">
                    @{
                        if (Model.exhibitStatus != 3)
                        {
                            <label for="verticalposterimageinput" class="d-inline">
                                <input asp-for="fexhibit_P_img" type="file" id="verticalposterimageinput" hidden accept=".png,.jpg">
                                <i class="fa-solid fa-file-image fa-2x m-2 p-2 rounded-3 position-absolute bottom-0 end-0 translate-middle bg1"
                               href="#"></i>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>

        @{
            if (Model.exhibitStatus == 1)
            {
                <div class="row align-items-center justify-content-evenly">
                    <div class="col-lg-1 col-sm-12 col-12 fs-1 text-center">從</div>
                    <div class="col-lg-5 col-sm-12 col-12 text-center">
                        <input asp-for="datefrom" id="fromdateinput" type="datetime-local" class="w-75 h2 bg1 my-3 p-3 rounded-3 border-0"
                       value="@Convert.ToDateTime(Model.datefrom).ToString("yyyy-MM-dd hh:mm")"></input>
                    </div>
                    <div class="col-lg-1 col-sm-12 col-12 fs-1 text-center">到</div>
                    <div class="col-lg-5 col-sm-12 col-12 text-center">
                        <input asp-for="dateto" id="todateinput" type="datetime-local" class="w-75 h2 bg1 my-3 p-3 rounded-3 border-0"
                       value="@Convert.ToDateTime(Model.dateto).ToString("yyyy-MM-dd hh:mm")"></input>
                    </div>
                </div>
            }
            else
            {
                <div class="row align-items-center justify-content-evenly">
                    <div class="col-lg-1 col-sm-12 col-12 fs-1 text-center">從</div>
                    <div class="col-lg-5 col-sm-12 col-12 text-center">
                        <input asp-for="datefrom" id="fromdateinput" type="datetime-local" class="w-75 h2 bg1 my-3 p-3 rounded-3 border-0"
                       value="@Convert.ToDateTime(Model.datefrom).ToString("yyyy-MM-dd hh:mm")" readonly></input>
                    </div>
                    <div class="col-lg-1 col-sm-12 col-12 fs-1 text-center">到</div>
                    <div class="col-lg-5 col-sm-12 col-12 text-center">
                        <input asp-for="dateto" id="todateinput" type="datetime-local" class="w-75 h2 bg1 my-3 p-3 rounded-3 border-0"
                       value="@Convert.ToDateTime(Model.dateto).ToString("yyyy-MM-dd hh:mm")" readonly></input>
                    </div>
                </div>
            }
        }
        <div class="row align-items-center my-5">
            <div class="col-12 rounded-3 position-relative text-center border bg1">
                <textarea asp-for="ex_description" id="contentinput" class="col-11 h3 rounded-3 border-0 my-5 bg1" rows="15"
                          placeholder="輸入詳細" autocomplete="off" readonly>@Model.ex_description</textarea>
                <i id="editcontent"
                   class="fa-regular fa-pen-to-square fa-3x m-2 p-2 rounded-3 opacity-75 position-absolute bottom-0 end-0"
                   href="#"></i>
            </div>
        </div>
        @{
            if (Model.exhibitStatus == 1 || Model.exhibitStatus == 2)
            {
                <div class="row justify-content-between rounded-3 p-3 my-5 bg1">
                    <h2 class="col-6 p-0 m-0">票卷管理</h2>
                    <div class="col-6 text-end">
                        <a id="ticketreportshow" href="" class="text-reset p-0 pt-1">
                            <i class="fa-solid fa-chevron-down fa-2x p-0 opacity-75"></i>
                        </a>
                    </div>
                </div>
                <div id="ticketreport" class="row rounded-3 p-3 align-items-center bg1">
                    <div class="col-12 d-flex justify-content-lg-between justify-content-center flex-wrap p-0">
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12 col-12 bg2 d-flex flex-column text-center p-lg-5 p-sm-3 m-lg-5 m-sm-3 p-3 m-3 rounded-3">
                            <h2 class="m-3 fw-bold">預計進場人數</h2>
                            <input asp-for="ex_personTime" id="expectedpeople" type="number"
                           class="text-center border-0 border-secondary border-bottom m-3 p-3 h3 bg2"
                           placeholder="輸入數字" autocomplete="off" value="@Model.ex_personTime"></input>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12 col-12 bg2 d-flex flex-column text-center p-lg-5 p-sm-3 m-lg-5 m-sm-3 p-3 m-3 rounded-3">
                            <h2 class="m-3 fw-bold">預計收益金額</h2>
                            <input asp-for="ex_totalImcome" id="expecteincome" type="number"
                           class="text-center border-0 border-secondary border-bottom m-3 p-3 h3 bg2"
                           placeholder="輸入數字" autocomplete="off" value="@Model.ex_totalImcome"></input>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12 col-12 bg2 d-flex flex-column text-center p-lg-5 p-sm-3 m-lg-5 m-sm-3 p-3 m-3 rounded-3">
                            <h2 class="m-3 fw-bold">門票價格</h2>
                            <input asp-for="ticket_Peice" id="ticketpriceinput" type="number"
                           class="h1 text-center border-0 border-secondary border-bottom fw-bold my-3 py-2 bg2"
                           autocomplete="off" value="@Model.ticket_Peice"></input>
                            <div class="d-flex justify-content-center flex-wrap">
                                <a id="editticketprice" href="" class="text-reset p-0 my-2 pt-1">
                                    <i class="fa-regular fa-pen-to-square fa-xl p-0 mx-3 opacity-75"> 自訂</i>
                                </a>
                                <a id="mathticket" href="" class="text-reset p-0 my-2 pt-1">
                                    <i class="fa-regular fa-keyboard fa-xl p-0 mx-3 opacity-75"> 試算</i>
                                </a>
                            </div>
                            <!-- <h6 id="lowprice" class="visually-hidden my-1 text-danger">低於基本價格</h6>
                            <h6 id="highprice" class="visually-hidden my-1 text-success">高於基本價格</h6> -->
                        </div>
                    </div>
                </div>

            }
            else if (Model.exhibitStatus == 3)
            {
                <div class="row rounded-3 p-3 my-5 bg1">
                    <h2 class="col-lg-7 col-sm-4 col-2 p-0 m-0">售票額</h2>
                    <h2 class="col-lg-4 col-sm-6 col-9 p-0 m-0 text-end">
                        @Model.soldsum / NT <span class="text-success">$ @Model.soldprice</span>
                    </h2>
                    <div class="col-lg-1 col-sm-2 col-1 text-end">
                        <a id="ticketreportshow" href="" class="text-reset p-0 pt-1">
                            <i class="fa-solid fa-chevron-down fa-2x p-0 opacity-75"></i>
                        </a>
                    </div>
                </div>
                <div id="ticketreport" class="row rounded-3 p-3 justify-content-center align-items-center bg1">
                    <div class="col-lg-3 col-sm-1 col-1"></div>
                    <div class="col-12 d-flex justify-content-lg-between justify-content-center flex-wrap p-0">
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12 col-12 bg2 d-flex flex-column text-center p-lg-5 p-sm-3 m-lg-5 m-sm-3 p-3 m-3 rounded-3">
                            <h2 class="m-3">平均進場人數</h2>
                            <h2 class="m-3 p-3 h1 fw-bold">@Model.averageperson</h2>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12 col-12 bg2 d-flex flex-column text-center justify-content-center p-lg-5 p-sm-3 m-lg-5 m-sm-3 p-3 m-3 rounded-3">
                            <h2 class="m-3">昨日進場人數</h2>
                            @{
                                if (Model.yesterdayperson < Model.averageperson)
                                {
                                    <div class="d-flex  justify-content-center align-items-center">
                                        <h2 class="m-3 p-3 h1 fw-bold text-danger">@Model.yesterdayperson</h2>
                                        <i class="pe-none fa-solid fa-sort-down fa-2xl text-danger pt-3"></i>
                                    </div>

                                }
                                else
                                {
                                    <div class="d-flex justify-content-center align-items-center">
                                        <h2 class="m-3 p-3 h1 fw-bold text-success">@Model.yesterdayperson</h2>
                                        <i class="pe-none fa-solid fa-sort-up fa-2xl text-success pt-3"></i>
                                    </div>

                                }
                            }

                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-12 col-12 bg2 d-flex flex-column text-center p-lg-5 p-sm-3 m-lg-5 m-sm-3 p-3 m-3 rounded-3">
                            <h2 class="m-3">距離預期</h2>
                            @{
                                if (Model.insum < Model.ex_personTime)
                                {
                                    <h2 class="h1 fw-bold text-danger">@(Model.insum -Model.ex_personTime) <span class="c2">人</span></h2>
                                }
                                else
                                {
                                    <h2 class="h1 fw-bold text-success">+@(Model.insum -Model.ex_personTime) <span class="c2">人</span></h2>
                                }
                                if (Model.soldprice < Model.ex_totalImcome)
                                {
                                    <h3 class="p-2 text-danger">@(Model.soldprice-Model.ex_totalImcome)$<span class="c2"> NT</span></h3>
                                }
                                else
                                {
                                    <h3 class="p-2 text-success">+@(Model.soldprice-Model.ex_totalImcome)$<span class="c2"> NT</span></h3>

                                }
                            }
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-around align-items-center fs-2">
                        <div class="col-2 text-end">門票定價</div>
                        <input id="ticketpriceinput" type="text"
                           class="col-2 my-3 p-2 text-center fw-bold rounded-3 border-0 rounded-pill h3 bg2" value="200$"
                           disabled>
                        自<select id="searchdatefrom" class="col-2 h3 bg2 my-3 mx-3 p-2 rounded-3 border-0">
                            @{
                                for (var day = Model.datefrom.Date; day.Date <= Model.dateto.Date; day = day.AddDays(1))
                                {
                                    <option value="@Convert.ToDateTime(day).ToString("yyyy/MM/dd")">@Convert.ToDateTime(day).ToString("yyyy/MM/dd")</option>
                                }
                            }

                        </select>
                        到<select id="searchdateto" class="col-2 h3 bg2 my-3 mx-3 p-2 rounded-3 border-0">
                            @{
                                for (var day = Model.datefrom.Date; day.Date <= Model.dateto.Date; day = day.AddDays(1))
                                {
                                    <option value="@Convert.ToDateTime(day).ToString("yyyy/MM/dd")">@Convert.ToDateTime(day).ToString("yyyy/MM/dd")</option>
                                }
                            }
                        </select>
                        <i id="searchticketreport" class="fa-solid fa-magnifying-glass opacity-75 fa-l p-0"></i>
                    </div>
                    <div class="col-11 my-3 bg2">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            }

        }
        @{
            if (Model.exhibitStatus == 1)
            {
                <div class="row rounded-3 p-3 my-5 bg1">
                    <h2 class="col-6 p-0 m-0">攤位管理</h2>
                    <div class="col-6 text-end">
                        <a id="manufacturerreport1show" href="" class="text-reset p-0 pt-1">
                            <i class="fa-solid fa-chevron-down fa-2x p-0 opacity-75"></i>
                        </a>
                    </div>
                </div>
                <div id="manufacturerreport1" class="row rounded-3 p-3 align-items-center justify-content-center bg1">
                    <div class="col-lg-10 col-sm-12 my-3 py-3 d-flex flex-wrap rounded-pill text-center rounded-3 bg2">
                        <h4 class="col-lg-3 col-sm-6 col-12 m-0">攤位等級</h4>
                        <h4 class="col-lg-3 col-sm-6 col-12 m-0"></h4>
                        <h4 class="col-lg-3 col-sm-6 col-12 m-0">攤位價格</h4>
                        <h4 class="col-lg-3 col-sm-6 col-12 m-0">攤位數量</h4>
                    </div>
                    @{
                        int bsum = 0;
                        foreach (var Booths in Model.setboothslist)
                        {
                            <div class="col-10 my-3 py-3 d-flex rounded-pill align-items-center text-center rounded-3 bg2">
                                <button class="w-25 btn px-0 rounded-pill bg2 d-flex justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
                                    <input asp-for="setboothslist[bsum].boothLv"
                           class="pe-none w-75 text-center border-0 h3 m-0 bg2 c1" value="@Booths.boothLv"></input><i class="fa-solid fa-chevron-down fa-lg opacity-75 ms-2 mt-3 blv"></i>
                                </button>
                                <ul class="dropdown-menu ms-5 text-center p-0">
                                    <li><a class="dropdown-item h4 m-0" href="#">大型</a></li>
                                    <li><a class="dropdown-item h4 m-0" href="#">中型</a></li>
                                    <li><a class="dropdown-item h4 m-0" href="#">小型</a></li>
                                </ul>
                                <h3 class="w-25 m-0"></h3>
                                <div class="w-25">
                                    <input asp-for="setboothslist[bsum].boothPrice"
                           class="w-50 text-center h4 m-0 border-0 border-secondary border-bottom py-2 bg2 bpri"
                           placeholder="輸入價格" type="number" autocomplete="off" value="@Booths.boothPrice"></input>
                                </div>
                                <div class="w-25">
                                    <input asp-for="setboothslist[bsum].boothsum"
                           class="w-50 text-center h4 m-0 border-0 border-secondary border-bottom py-2 bg2 bsum"
                           placeholder="輸入數量" type="number" autocomplete="off" value="@Booths.boothsum"></input>
                                    <i class="position-absolute mx-3 pt-2 fa-regular fa-trash-can fa-2x deletebooth"></i>
                                </div>
                            </div>
                            bsum++;
                        }
                    }
                    <div class="col-10 my-3 py-3 d-flex rounded-pill align-items-center text-center rounded-3 bg2">
                        <a id="addbooth" class="w-100 h-100 border-0 text-reset bg2">
                            <i class="w-100 h-100 fa-solid fa-plus fa-3x "></i>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-around my-5">
                    <button type="submit" class="btn btn-dark col-lg-3 col-sm-3 col-4 fs-2">儲存修改</button>
                    <a asp-action="ChangeExhibitState" asp-route-exhibitId="@Model.exhibitId" class="col-lg-3 col-sm-3 col-4 btn btn-warning fs-2">進入籌備</a>
                    <a asp-action="DeleteExhibition" asp-route-exhibitId="@Model.exhibitId" class="col-lg-3 col-sm-3 col-4 btn btn-danger fs-2">刪除展覽</a>
                </div>
            }
            else if (Model.exhibitStatus == 2 || Model.exhibitStatus == 3)
            {
                <div class=" row rounded-3 p-3 my-5 bg1">
                    <h2 class="col-lg-7 col-sm-4 col-2 p-0 m-0">承租額</h2>
                    <div class="col-lg-4 col-sm-6 col-9 p-0 m-0 text-end">
                        <span id="applysum" class="h2">@Model.applysum / NT </span>
                        <span id="applysumprice" class="h2 text-success">$ @Model.applysumprice</span>
                    </div>
                    <div class="col-lg-1 col-sm-2 col-1 text-end">
                        <a id="manufacturerreport23show" href="" class="text-reset p-0 pt-1">
                            <i class="fa-solid fa-chevron-down fa-2x p-0 opacity-75"></i>
                        </a>
                    </div>
                </div>
                <div id="manufacturerreport23" class="row rounded-3 p-3 align-items-center justify-content-center bg1">
                    <input id="searchbnuminput" type="text" placeholder="輸入攤位編號"
                       class="col-lg-3 col-sm-6 col-6 m-3 py-2 text-center fw-lighter rounded-pill h2 border-0 bg2" autocomplete="off">
                    @{
                        if (Model.exhibitStatus == 2)
                        {
                            <div class="btn-group col-lg-3 col-sm-4 col-4">
                                <button class="w-100 btn px-0 mx-2 rounded-pill bg2" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                    <span id="searchstate" class="h2 c1" data-state="">全部<span>
                                </button>
                                <ul class="dropdown-menu w-75 mx-3 text-center p-0">
                                    <li><a class="dropdown-item h4 m-0" href="#">全部</a></li>
                                    <li><a id="state0" class="dropdown-item h4 m-0 text-warning" href="#">待審核</a></li>
                                    <li><a id="state1" class="dropdown-item h4 m-0 text-danger" href="#">尚未付款</a></li>
                                    <li><a id="state2" class="dropdown-item h4 m-0 text-success" href="#">已付款</a></li>
                                    <li><a id="state3" class="dropdown-item h4 m-0 text-secondary" href="#">未通過</a></li>

                                </ul>
                            </div>
                        }
                    }
                    <div class="col-lg-1 col-sm-1 col-1 text-center">
                        <a class="text-reset p-0 my-3">
                            <i id="searchapply" class="fa-solid fa-magnifying-glass opacity-75 fa-3x p-0"></i>
                        </a>
                    </div>
                    <partial name="_ApplyPartial.cshtml" />
                    <div id="partial" class="d-flex flex-column justify-content-center align-items-center"></div>
                </div>

                <div class="row justify-content-around my-5">
                    <button type="submit" class="btn btn-dark col-lg-3 col-sm-3 col-4 fs-2">儲存修改</button>
                    <a asp-action="Master" class="btn btn-dark col-lg-3 col-sm-3 col-4 fs-2">回上一頁</a>
                </div>
            }
        }
    </form>
</div>*@

@*<script src="~/js/jquery_admin..js"></script>*@
@*<script src="~/js/bootstrap.bundle_admin.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js"
        integrity="sha512-zjlf0U0eJmSo1Le4/zcZI51ks5SjuQXkU0yOdsOBubjSmio9iCUp8XPLkEAADZNBdR9crRy3cniZ65LF2w8sRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@section Scripts

    {
    <script>
        $('.areaoption').on('click', (e) => {
            console.log(e.target)
            $('#selecarea').text($(e.target).text())
            if ($(e.target).text() == 'A') {
                $('#area').val(1)
            }
            else {
                $('#area').val(2)
            }
            console.log($('#area').val());
        })


        //----------------------------------------
        //$('a').on('click', (e) => {
        //    e.preventDefault()
        //})


        $(window).on('load', () => {
            console.log('@Model.datefrom.Date.ToString("yyyy-MM-dd")')
            refreshapply()

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchTicketReport")',
                data: {
                    exhibitId: @Model.exhibitId,
                    datefrom: '@Model.datefrom.Date.ToString("yyyy-MM-dd")',
                    dateto: '@Model.datefrom.Date.AddDays(6).ToString("yyyy-MM-dd")',
                },
            }).done((result) => {
                let chartStatus = Chart.getChart("myChart");
                if (chartStatus != undefined) {
                    chartStatus.destroy();
                }
                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.reportday,
                        datasets: [{
                            label: '進場人數',
                            data: result.reportsum,
                            backgroundColor: [
                                '#5C5858',
                            ],
                            borderWidth: 0,
                        }]
                    },
                    options: {
                        parsing: {
                            xAxisKey: 'Red',
                            yAxisKey: 'Red'
                        }
                    }
                });
            }).fail(() => {
                console.log("pagefail")
            })
        })

        $('#searchticketreport').on('click', (e) => {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchTicketReport")',
                data: {
                    exhibitId: @Model.exhibitId,
                    datefrom: $('#searchdatefrom').val(),
                    dateto: $('#searchdateto').val(),
                },
            }).done((result) => {
                let chartStatus = Chart.getChart("myChart");
                if (chartStatus != undefined) {
                    chartStatus.destroy();
                }
                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.reportday,
                        datasets: [{
                            label: '進場人數',
                            data: result.reportsum,
                            backgroundColor: [
                                '#5C5858',
                            ],
                            borderWidth: 0,
                        }]
                    },
                    options: {
                        parsing: {
                            xAxisKey: 'Red',
                            yAxisKey: 'Red'
                        }
                    }
                });
            }).fail(() => {
                console.log("pagefail")
            })
        })




        $('#titleinput').on('focus', (e) => {
            $('#titleinput').removeClass('text-center')
        })


        $('#titleinput').on('blur', (e) => {
            $(e.target).addClass('text-center').css('pointer-events', 'none')
            $('#edittitle').css('pointer-events', 'all')
        })

        $('#ticketimginput').on('change', (e) => {
            let readfile = new FileReader();
            readfile.readAsDataURL(e.target.files[0])
            readfile.addEventListener('load', () => {
                $('#ticketimg').attr('src', `${readfile.result}`)
            })
        })

        $('#horizontalposterimageinput').on('change', (e) => {
            let readfile = new FileReader();
            readfile.readAsDataURL(e.target.files[0])
            readfile.addEventListener('load', () => {
                $('#horizontalposterimage').attr('src', `${readfile.result}`)
            })
        })

        $('#verticalposterimageinput').on('change', (e) => {
            let readfile = new FileReader();
            readfile.readAsDataURL(e.target.files[0])
            readfile.addEventListener('load', () => {
                $('#verticalposterimage').attr('src', `${readfile.result}`)
            })
        })

        $('#editcontent').on('click', (e) => {
            $('#contentinput').removeAttr('readonly').trigger('focus')
            $(e.target).css('pointer-events', 'none')
        })

        $('#contentinput').on('focus', (e) => {
            $(e.target).parent().toggleClass('border-dark')
        })

        $('#contentinput').on('blur', (e) => {
            $(e.target).attr('readonly', 'readonly')
            $('#editcontent').css('pointer-events', 'all').css('border-color', 'none')
            $(e.target).parent().toggleClass('border-dark')
        })

        $('#ticketreportshow').on('click', (e) => {
            e.preventDefault();
            $('#ticketreport').toggleClass('d-none')
            $(e.target).toggleClass('fa-chevron-left')
        })

        $('#editticketprice').on('click', (e) => {
            e.preventDefault();
            $('#ticketpriceinput').trigger('focus').css('pointer-events', 'all')
        })

        $('#ticketpriceinput').on('blur', (e) => {
            $(e.target).css('pointer-events', 'none')
        })

        $('#mathticket').on('click', (e) => {
            e.preventDefault();
            $('#ticketpriceinput').removeClass('text-danger').removeClass('text-success')
            if ($('#expectedpeople').val() != 0 && $('#expecteincome').val() != 0) {
                $('#ticketpriceinput').val(mathticket($('#expectedpeople').val(), $('#expecteincome').val()))
            }
        })

        $('#ticketpriceinput').on('change', (e) => {
            if ($('#expectedpeople').val() != 0 && $('#expecteincome').val() != 0) {
                if (e.target.value < mathticket($('#expectedpeople').val(), $('#expecteincome').val())) {
                    $(e.target).removeClass('text-success').addClass('text-danger')
                }
                else {
                    $(e.target).removeClass('text-danger').addClass('text-success')
                }
            }
        })

        $('#manufacturerreport1show').on('click', (e) => {
            e.preventDefault();
            $('#manufacturerreport1').toggleClass('d-none')
            $(e.target).toggleClass('fa-chevron-left')
        })

        $('#manufacturerreport23show').on('click', (e) => {
            e.preventDefault();
            $('#manufacturerreport23').toggleClass('d-none')
            $(e.target).toggleClass('fa-chevron-left')
        })


        var i = @Model.setboothslist.Count;

        $('#manufacturerreport').on('click', (e) => {
            if ($(e.target).hasClass('dropdown-item')) {
                e.preventDefault();
                if ($(e.target).text() == '大型') {
                    $(e.target).closest('ul').prev().find('input').val($(e.target).text())
                }
                else if ($(e.target).text() == '中型') {
                    $(e.target).closest('ul').prev().find('input').val($(e.target).text())
                }
                else if ($(e.target).text() == '小型') {
                    $(e.target).closest('ul').prev().find('input').val($(e.target).text())
                }
            } else if ($(e.target).hasClass('deletebooth')) {
                $(e.target).parent().parent().remove();
                i = 0;
                $('#manufacturerreport').find('.blv').each(function() {
                    $(this).attr('name', `setboothslist[${i}].boothLv`)
                    i++;
                })
                i = 0;
                $('#manufacturerreport').find('.bpri').each(function() {
                    $(this).attr('name', `setboothslist[${i}].boothPrice`)
                    i++;
                })
                i = 0;
                $('#manufacturerreport').find('.bsum').each(function() {
                    $(this).attr('name', `setboothslist[${i}].boothsum`)
                    i++;
                })
            }
        })

        var data = {
            exhibitId: @Model.exhibitId,
            offset: 0,
            status: @Model.exhibitStatus,
        }

        function refreshapply() {
            if ($('#searchbnuminput').val() != '') {
                data.b_num = $('#searchbnuminput').val()
            }
            else {
                data.b_num = ''
            }
            if ($('#searchstate').text() != '全部') {
                data.checkstate = $('#searchstate').attr('data-state')
            }
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_ApplyPartial_Search")',
                data,
                beforeSend: function() {
                    $('#partial').html(spinners)
                },
            }).done((result) => {
                $('#partial').html(result)
                $('.modal-backdrop').remove();
            }).fail(() => {
                console.log("pagefail")
            })
        }

        function refreshapplychangestate() {
            if ($('#searchbnuminput').val() != '') {
                data.b_num = $('#searchbnuminput').val()
            }
            if ($('#searchstate').text() != '全部') {
                data.checkstate = $('#searchstate').attr('data-state')
            }
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_ApplyPartial_Search")',
                data,
            }).done((result) => {
                $('#partial').html(result)
                $('.modal-backdrop').remove();
            }).fail(() => {
                console.log("pagefail")
            })
        }


        var spinners = `<div class="d-flex align-items-center justify-content-center" style="height: 160px">
                                                                                  <div class="sk-fading-circle">
                                                                                    <div class="sk-circle1 sk-circle"></div>
                                                                                    <div class="sk-circle2 sk-circle"></div>
                                                                                    <div class="sk-circle3 sk-circle"></div>
                                                                                    <div class="sk-circle4 sk-circle"></div>
                                                                                    <div class="sk-circle5 sk-circle"></div>
                                                                                    <div class="sk-circle6 sk-circle"></div>
                                                                                    <div class="sk-circle7 sk-circle"></div>
                                                                                    <div class="sk-circle8 sk-circle"></div>
                                                                                    <div class="sk-circle9 sk-circle"></div>
                                                                                    <div class="sk-circle10 sk-circle"></div>
                                                                                    <div class="sk-circle11 sk-circle"></div>
                                                                                    <div class="sk-circle12 sk-circle"></div>
                                                                                  </div>
                                                                                </div>`

        $('#manufacturerreport23').on('click', (e) => {
            e.preventDefault();
            if ($(e.target).attr('id') == 'searchapply') {
                refreshapply();
            }
            else if ($(e.target).hasClass('page')) {
                $(e.target).addClass('bg2').removeClass('bg1')
                data.offset = ($(e.target).text() * 10) - 10
                refreshapply()

            } else if ($(e.target).hasClass('dropdown-item')) {
                if ($(e.target).text() == '待審核') {
                    $('#searchstate').val($(e.target).text()).removeClass('text-secondary').removeClass('text-danger').removeClass('text-success').addClass('text-warning').attr('data-state', 0)
                }
                else if ($(e.target).text() == '尚未付款') {
                    $('#searchstate').val($(e.target).text()).removeClass('text-secondary').removeClass('text-warning').removeClass('text-success').addClass('text-danger').attr('data-state', 1)
                }
                else if ($(e.target).text() == '已付款') {
                    $('#searchstate').val($(e.target).text()).removeClass('text-secondary').removeClass('text-warning').removeClass('text-danger').addClass('text-success').attr('data-state', 2)
                }
                else if ($(e.target).text() == '全部') {
                    $('#searchstate').val($(e.target).text()).removeClass('text-secondary').removeClass('text-warning').removeClass('text-danger').removeClass('text-success').removeAttr('data-state')
                }
                else if ($(e.target).text() == '未通過') {
                    $('#searchstate').val($(e.target).text()).removeClass('text-warning').removeClass('text-danger').removeClass('text-success').addClass('text-secondary').attr('data-state', 3)
                }
            }
        })

        $('#partial').on('click', (e) => {
            e.preventDefault();
            if ($(e.target).hasClass('checkmao')) {
                let applynum = $(e.target).attr('data-applynum')
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ChangeBoothApplyState")',
                    data: {
                        exhibitId: @Model.exhibitId,
                        applynum,
                    },
                    beforeSend: function() {
                        $(e.target).parents('.modal-content').append(spinners)
                        $('body').addClass('pe-none');
                    },
                }).done(() => {
                    refreshapplychangestate()
                    $('body').removeClass('pe-none');

                    //$(e.target).closest('.modal').next().text('尚未付款').removeClass('text-warning').addClass('text-danger')
                    //$(e.target).before('<i class="pe-none my-3 fa-solid fa-clipboard-check fa-4x text-success"><span class="h5">PASS</span></i>')
                    //$(e.target).closest('.row').after(`<hr><div class="row justify-content-around align-items-center my-3"><h4 class="col-4">匯款日期：2022 / 7 / 26</h4><h4 class="col-4"> 匯款末五碼：12345</h4><i class="col-2 my-3 fa-regular fa-square fa-4x checkmoney" data-bum="${boothNumber}"><span class="h5 fw-bolder">對帳</span></i></div>`)
                    //$(e.target).next().remove()


                    //$(e.target).remove()
                    //$('.modal-backdrop').remove();
                    //$(e.target).closest('.modal').removeClass('show').css('display', 'none').attr('aria-hidden', 'true').removeAttr('aria-modal').removeAttr('role')
                    //$('body').removeClass('modal-open').css('overflow', '').css('padding-right', '')
                }).fail(() => {
                    console.log("pagefail")
                })
            }
            if ($(e.target).hasClass('checkmax')) {
                let applynum = $(e.target).attr('data-applynum')
                //$('.modal-backdrop').remove();
                //$(e.target).closest('.modal').removeClass('show').css('display', 'none').attr('aria-hidden', 'true').removeAttr('aria-modal').removeAttr('role')
                //$('body').removeClass('modal-open').css('overflow', '').css('padding-right', '')
                let p = prompt('請輸入訊息', '資料提供不全')
                if (p != '' && p != null) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("ChangeBoothApplyState")',
                        data: {
                            exhibitId: @Model.exhibitId,
                            applynum,
                            fail: p,
                        },
                        beforeSend: function() {
                            $(e.target).parents('.modal-content').append(spinners)
                            $('body').addClass('pe-none');
                        },
                    }).done(() => {
                        //$(e.target).closest('.modal').next().text('未通過').removeClass('text-warning').addClass('text-secondary')
                        //$(e.target).after('<i class="pe-none my-3 fa-solid fa-file-excel fa-4x text-danger"><span class="h5">FAIL</span></i>')
                        //$(e.target).prev().remove()
                        //$(e.target).remove()

                        $('body').removeClass('pe-none');
                        refreshapplychangestate();
                    }).fail(() => {
                        console.log("pagefail")
                    })
                }
                else {
                    return
                }
            }
            if ($(e.target).hasClass('checkmoney')) {
                $(e.target).toggleClass('fa-square').toggleClass('fa-square-check')
                //$('.modal-backdrop').remove();
                //$(e.target).closest('.modal').removeClass('show').css('display', 'none').attr('aria-hidden', 'true').removeAttr('aria-modal').removeAttr('role')
                //$('body').removeClass('modal-open').css('overflow', '').css('padding-right', '')

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ChangeBoothApplyState")',
                    data: {
                        exhibitId: @Model.exhibitId,
                        applynum: $(e.target).attr('data-applynum')
                    },
                    beforeSend: function() {
                        $(e.target).parents('.modal-content').append(spinners)
                        $('body').addClass('pe-none');

                    },
                }).done((result) => {
                    //console.log(result)
                    $('#applysum').text(`${result.applysum} / NT `)
                    $('#applysumprice').text(`$ ${result.applysumprice}`)
                    //$(e.target).closest('.modal').next().text('已付款').removeClass('text-danger').addClass('text-success')
                    //$(e.target).removeClass('checkmoney').addClass('pe-none')
                    $('body').removeClass('pe-none');

                    refreshapplychangestate()
                }).fail(() => {
                    console.log("pagefail")
                })
            }
            if ($(e.target).hasClass('applytoggle')) {
                let etoggle = $(e.target).closest('.apply')
                $(etoggle).toggleClass('bg1')
                $(e.target).parent().next().on('click', (e) => {
                    $(etoggle).removeClass('bg1')
                })
            }
        })


        $('#addbooth').on('click', (e) => {
            e.preventDefault();
            $(e.target).closest('div').before(`<div
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        class="col-11 py-3 my-3 d-flex rounded-pill align-items-center text-center border border-1 rounded-3">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <button class="w-25 btn px-0 rounded-pill d-flex justify-content-center"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            data-toggle="dropdown" aria-expanded="false"><input
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                name="setboothslist[${i}].boothLv"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                class="pe-none w-75 text-center border-0 h5 m-0 c1 blv"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                value="攤位等級"></input><i
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                class="fa-solid fa-chevron-down fa-lg opacity-75 ms-2 mt-2"></i></button>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <ul class="dropdown-menu ms-5 text-center p-0">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <li><a class="dropdown-item h5 m-0" href="#">大型</a></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <li><a class="dropdown-item h5 m-0" href="#">中型</a></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <li><a class="dropdown-item h5 m-0" href="#">小型</a></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </ul>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <h3 class="w-25 m-0"></h3>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <div class="w-25"><input name="setboothslist[${i}].boothPrice"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                class="w-50 text-center h5 m-0 border-0 border-secondary border-bottom py-2 bpri"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                placeholder="輸入價格" type="number" autocomplete="off"></input></div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <div class="w-25"><input name="setboothslist[${i}].boothsum"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                class="w-50 text-center h5 m-0 border-0 border-secondary border-bottom py-2 bsum"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                placeholder="輸入數量" type="number" autocomplete="off"></input><i
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                class="position-absolute mx-3 pt-2 fa-regular fa-trash-can fa-2x deletebooth"></i>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                `)
            i++
        })



        function mathticket(expectedpeople, expecteincome) {
            let lowpeople = expectedpeople * 0.5
            let heightpeople = expectedpeople * 1.5
            let ticketformath = ((expecteincome / lowpeople) + (expecteincome / heightpeople) + (expecteincome / expectedpeople)) / 3
            let ticketoriginal = Math.floor(((expecteincome / lowpeople) + (expecteincome / heightpeople) + (expecteincome / expectedpeople)) / 3)
            let integer = 0
            let price = "1"
            while (ticketformath >= 1) {
                ticketformath = ticketformath / 10
                integer++
            }
            for (let i = 0; i < integer - 2; i++) {
                price += "0"
            }
            return Math.round(ticketoriginal / parseInt(price)) * parseInt(price)
        }

    </script>
}

