@model IEnumerable<Fairy_project.Models.Exhibitionss>

@section Style
    {
    <link rel="stylesheet" href="~/css/Master.css" asp-append-version="true" />
}
    @{
    int idnew =1;
}

<div class="container">
    <div class="row mb-3">
        @foreach (var item in Model)
        {
            string date = $"{Convert.ToDateTime(item.Datefrom).ToString("yyyy/MM/dd")} ~ {Convert.ToDateTime(item.Dateto).ToString("yyyy/MM/dd")}";
            string imgsrc = Url.Content($"~/images/{item.ExhibitPreImg}");
            <div class="col-lg-4 col-md-6 col-12 my-4 px-2 overflow-hidden position-relative">
                <div class="position-absolute pe-3 text-center d-flex flex-column justify-content-around align-items-center w-100 h-100 rounded-3 py-3">
                    <div class="h-25 d-flex align-items-center">
                        <h5 class="mx-3 m-0 text-light fw-light text-decoration-underline">@date</h5>
                        @if (item.ExhibitStatus == 1)
                        {
                            <span class="h-50 mx-3 badge bg-danger text-black fs-4 fw-light">規劃</span>
                        }
                        else if (item.ExhibitStatus == 2)
                        {
                            <span class="h-50 mx-3 badge bg-warning text-black fs-4 fw-light">籌備</span>
                        }
                        else if (item.ExhibitStatus == 3)
                        {
                            <span class="h-50 mx-3 badge bg-success text-black fs-4 fw-light">舉辦</span>
                        }
                    </div>
                    <h3 class="h-25 fw-bold m-0 mx-3 text-light">@item.ExhibitName</h3>
                    <a asp-controller="Admin" asp-action="ExhibitIdDetail" asp-route-exhibitId="@item.ExhibitId">
                        <button class="px-3 text-center rounded-pill border border-1 border-light bg-secondary bg-opacity-75 text-light fs-4">
                            詳細
                        </button>
                    </a>
                </div>
                <img class=" w-100 h-100 rounded-3" src="@imgsrc" alt="">
            </div>
            @*idnew = item.ExhibitId + 1;*@
        }
        <div class="col-lg-4 col-md-6 col-12 my-4">
            <a asp-action="CreatExhibition" asp-controller="Admin" asp-route-idnew="@idnew" class="text-reset">
                <button class="w-100 h-100 border-0 bg-secondary bg-opacity-10 rounded-3 ">
                    <i class="fa-solid fa-plus fa-4x "></i>
                </button>
            </a>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.1/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script>
        $('#btn').on('click', (e) => {
            console.log(e.target);
            alert();
        })
    </script>
